@model scorpioweb.Models.Archivo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Manage/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Archivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdArchivo" class="control-label"></label>
                <input asp-for="IdArchivo" class="form-control" />
                <span asp-validation-for="IdArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoArchivo" class="control-label"></label>
                <input asp-for="NoArchivo" class="form-control" />
                <span asp-validation-for="NoArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CausaPenal" class="control-label"></label>
                <input asp-for="CausaPenal" class="form-control" />
                <span asp-validation-for="CausaPenal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Delito" class="control-label"></label>
                <input asp-for="Delito" class="form-control" />
                <span asp-validation-for="Delito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sentencia" class="control-label"></label>
                <input asp-for="Sentencia" class="form-control" />
                <span asp-validation-for="Sentencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Situacion" class="control-label"></label>
                <input asp-for="Situacion" class="form-control" />
                <span asp-validation-for="Situacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAcuerdo" class="control-label"></label>
                <input asp-for="FechaAcuerdo" class="form-control" />
                <span asp-validation-for="FechaAcuerdo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarpetaEjecucion" class="control-label"></label>
                <input asp-for="CarpetaEjecucion" class="form-control" />
                <span asp-validation-for="CarpetaEjecucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Envia" class="control-label"></label>
                <input asp-for="Envia" class="form-control" />
                <span asp-validation-for="Envia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prestado" class="control-label"></label>
                <input asp-for="Prestado" class="form-control" />
                <span asp-validation-for="Prestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaPrestamo" class="control-label"></label>
                <input asp-for="AreaPrestamo" class="form-control" />
                <span asp-validation-for="AreaPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPrestamo" class="control-label"></label>
                <input asp-for="FechaPrestamo" class="form-control" />
                <span asp-validation-for="FechaPrestamo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

