@{
    ViewData["Title"] = "SCORPIO";
}

@section Scripts{
    <link rel="stylesheet" href="~/js/bootstrap4-toggle.js">
    <link rel="stylesheet" href="~/css/bootstrap4-toggle.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/media-queries.css">
    <link rel="stylesheet" href="~/css/imprimir.css" media="print">
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/panel.js"></script>

    @*Single Page Nav*@
    <script src="~/js/jquery.singlePageNav.min.js"></script>
    @*Bootstrap*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    @*jquery.fancybox.pack*@
    <script src="~/js/jquery.fancybox.pack.js"></script>
    @*jquery.mixitup.min*@
    <script src="~/js/jquery.mixitup.min.js"></script>
    @*jquery.parallax*@
    <script src="~/js/jquery.parallax-1.1.3.js"></script>
    @*jquery.countTo*@
    <script src="~/js/jquery-countTo.js"></script>
    @*jquery.appear*@
    <script src="~/js/jquery.appear.js"></script>
    @*jquery easing*@
    <script src="~/js/jquery.easing.min.js"></script>
    @*jquery easing*@
    <script src="~/js/wow.min.js"></script>
    <script>
        var wow = new WOW({
            boxClass: 'wow',      // animated element css class (default is wow)
            animateClass: 'animated', // animation css class (default is animated)
            offset: 120,          // distance to the element when triggering the animation (default is 0)
            mobile: false,       // trigger animations on mobile devices (default is true)
            live: true        // act on asynchronously loaded content (default is true)
        }
        );
        wow.init();

        var fangle = document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                fangle.style.display = "block";
            } else {
                fangle.style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }


    </script>
}

<section id="inicio">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/banner4.png" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <ul class="social-links text-center">
                        <li><a href="https://twitter.com/sspdgo" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li>
                        <li><a href="https://www.facebook.com/ssp.durango/" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <ul class="social-links text-center">
                        <li><a href="https://twitter.com/sspdgo" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li>
                        <li><a href="https://www.facebook.com/ssp.durango/" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <img src="~/images/banner3.png" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <ul class="social-links text-center">
                        <li><a href="https://twitter.com/sspdgo" target="_blank"><i class="fa fa-twitter fa-4x"></i></a></li>
                        <li><a href="https://www.facebook.com/ssp.durango/" target="_blank"><i class="fa fa-facebook fa-4x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section id="features" class="features">
    <div class="container">
        <div class="row" style="margin-top:20px; margin-bottom:20px">

            <div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
                <h2>Coordinaciones</h2>
                <div class="devider"><i class="fa fa-bookmark-o fa-lg"></i></div>
            </div>

            <!-- service item -->
            <div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms" style="margin-top:10px; margin-bottom:10px">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-tasks fa-2x"></i>
                    </div>

                    <div class="service-desc">
                        <h3 style="margin-bottom:5px">Coordinación de MC y SCP</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInUp direcciones" data-wow-duration="500ms" data-wow-delay="500ms" style="margin-top:10px; margin-bottom:10px">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-pencil fa-2x"></i>
                    </div>

                    <div class="service-desc">
                        <h3 style="margin-bottom:5px">Coordinación de Ejecución de Penas</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms" style="margin-top:10px; margin-bottom:10px">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-cogs fa-2x " aria-hidden="true"></i>
                    </div>

                    <div class="service-desc">
                        <h3 style="margin-bottom:5px">Coordinación de Condiciones en Libertad</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="1400ms" style="margin-top:10px; margin-bottom:10px">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-cogs fa-2x " aria-hidden="true"></i>
                    </div>

                    <div class="service-desc">
                        <h3 style="margin-bottom:5px">Coordinación de Vinculación con Instituciones y Sociedad Civil</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="1900ms" style="margin-top:10px; margin-bottom:10px">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-cogs fa-2x " aria-hidden="true"></i>
                    </div>

                    <div class="service-desc">
                        <h3 style="margin-bottom:5px">Coordinación de Servicios Legales</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->
            <!-- service item -->
            <div class="col-md-4 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="2100ms" style="margin-top:10px; margin-bottom:10px">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-cogs fa-2x " aria-hidden="true"></i>
                    </div>

                    <div class="service-desc">
                        <h3 style="margin-bottom:5px">Coordinación de Planeación y Gestión de la Información</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>
                </div>
            </div>
            <!-- end service item -->

        </div>
    </div>
</section>

<section id="facts" class="facts">
    <div class="parallax-overlay">
        <div class="container">
            <div class="row number-counters">

                <div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
                    <h2 style="color:#fff">Estadísticas</h2>
                    <div class="devider"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                </div>

                <!-- first count item -->
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
                    <div class="counters-item">
                        <i class="fa fa-users fa-3x"></i>
                        <strong data-to="5331">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Personas Supervisadas</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="counters-item">
                        <i class="fa fa-graduation-cap fa-3x"></i>
                        <strong data-to="2870">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Medidas Cautelares</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="counters-item">
                        <i class="fa fa-building-o fa-3x"></i>
                        <strong data-to="1346">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p> Suspensión Condicional del Proceso </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="counters-item">
                        <i class="fa fa-trophy fa-3x"></i>
                        <strong data-to="1115">0</strong>
                        <!-- Set Your Number here. i,e. data-to="56" -->
                        <p>Condición en Libertad</p>
                    </div>
                </div>
@*
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary btn-lg fa fa-unlock" onclick="api(true)"></button>
                </div>*@
                <!-- end first count item -->

            </div>
        </div>
    </div>
</section>
@*
<script>
    function api(folio) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Api/Imprimir",
            traditional: true,
            data: {
                datoCandado: folio,
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                } else {
                    alert(response.responseText);
                }
            },
            error: function(response) {
                location.reload();
            }
        });
    }
</script>*@