@*@model scorpioweb.Models.Fraccionesimpuestas

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Fraccionesimpuestas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="IdFracciones" class="control-label"></label>
                <input asp-for="IdFracciones" class="form-control" />
                <span asp-validation-for="IdFracciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autoridad" class="control-label"></label>
                <input asp-for="Autoridad" class="form-control" />
                <span asp-validation-for="Autoridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTermino" class="control-label"></label>
                <input asp-for="FechaTermino" class="form-control" />
                <span asp-validation-for="FechaTermino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evidencia" class="control-label"></label>
                <input asp-for="Evidencia" class="form-control" />
                <span asp-validation-for="Evidencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FiguraJudicial" class="control-label"></label>
                <input asp-for="FiguraJudicial" class="form-control" />
                <span asp-validation-for="FiguraJudicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisionIdSupervision" class="control-label"></label>
                <input asp-for="SupervisionIdSupervision" class="form-control" />
                <span asp-validation-for="SupervisionIdSupervision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

*@