@model scorpioweb.Models.Calendario

@{
    Layout = null;
}


<div class="row">
    <div class="col-md-12">
        <form onsubmit="return confirm('¿Deseas guardar el evento?');" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label"></label>
                <input asp-for="Mensaje" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEvento" class="control-label"></label>
                <input asp-for="FechaEvento" class="form-control" />
                <span asp-validation-for="FechaEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <input asp-for="PersonaIdPersona" class="form-control" />
                <span asp-validation-for="PersonaIdPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <button type="submit" value="Guardar" class="btn btn-success"><i class="fa fa-save"></i>Guardar</button>
            </div>
        </form>
    </div>
</div>
