
@{
    ViewData["Title"] = "Menu Archivo MC y SCP";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-1.11.1.min.js"></script>


<div class="card-group" style="padding-top:2%">
    <div style="text-align:center" class="col-md-12 col-md-12">
        <h2>Servicios Previos Al juicio</h2>
    </div>
    @if (User.IsInRole("Masteradmin") || User.IsInRole("Archivo") || User.IsInRole("AdminMCSCP") || User.IsInRole("SupervisorMCSCP"))
    {
        <div class="col-sm-6 col-md-6 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="ServiciosPreviosJuicio" asp-action="Index">
                        <img class="card-img-top" src="~/images/verdict.png" alt="Servicios Previos" style="padding-bottom:5%;">
                        Servicios Previos al Juicio
                    </a>
                </h4>
                <p class="card-text">
                    Entrevistas de Servicios previos al Juicio 
                </p>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="ServiciosPreviosJuicio" asp-action="FichaTecnica">
                        <img class="card-img-bottom" src="~/images/folderDowload.png" alt="Ficha Tecnica" style="padding-bottom:5%;">
                        Descargar Ficha Tecnica<span class="badge" style="background-color:red"></span>
                    </a>
                </h4>
                <p class="card-text">
                    Ficha Tecnica
                </p>
            </div>
        </div>
        
    }
</div>


