
@{
    ViewData["Title"] = "Menu Archivo MC y SCP";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<style>
    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }

        .buttons a:hover {
            transform: scale(1.2);
        }

    #agenda {
        background: #314652;
        margin-left: 20px;
    }

    #calendario {
        background: #00B812;
        margin-left: 20px;
    }

    #mensajeSistema {
        background: #0078A7;
        margin-left: 20px;
    }

    #libronegro {
        background: #fff;
        margin-left: 20px;
    }

    #seccionBotones {
        padding-top: 1em;
    }

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    function openFullScreenWindow() {
        const screenWidth = window.screen.availWidth;
        const screenHeight = window.screen.availHeight;

        const newWindow = window.open("/Personas/Contacto", "_blank", `fullscreen=yes,toolbar=yes,scrollbars=yes,resizable=yes,width=${screenWidth},height=${screenHeight}`);
    }
</script>

<script src="~/js/jquery-1.11.1.min.js"></script>


<div class="card-group" style="padding-top:2%">
    <div style="text-align:center" class="col-md-12 col-md-12">
        <h2>Servicios Previos al Juicio</h2>
    </div>
    <div class="col-sm-6 col-md-6 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="ServiciosPreviosJuicio" asp-action="Index">
                    <img class="card-img-top" src="~/images/testing.png" alt="Servicios Previos" style="padding-bottom:5%;" />
                    Servicios Previos al Juicio
                </a>
            </h4>
            <p class="card-text">
                Entrevistas de Servicios previos al Juicio 
            </p>
        </div>
    </div>

    <div class="col-sm-6 col-md-6 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a href="http://10.6.60.216/aernuevo/">
                    <img class="card-img-bottom" src="~/images/aer.png" alt="Ficha Tecnica" style="padding-bottom:5%;">
                    Calculo Evaluacion Riesgo Adolecentes</span>
                </a>
            </h4>
            <p class="card-text">
                Ficha Tecnica
            </p>
        </div>
    </div>
</div>
<div class="bg-light clearfix" id="seccionBotones">
    <section class="buttons" style="padding-right: 1em;">
        <a onclick="openFullScreenWindow()" class="fa fa-address-book float-right" id="agenda" title="Contactos"></a>
    </section>
</div>


