@*@model scorpioweb.Models.Oficialia

@{
    ViewBag.Title = "";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateEpCrearAudiencia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" readonly asp-for="IdOficialia" />
            <input type="hidden" readonly asp-for="Capturista" value="" />
            <input type="hidden" readonly asp-for="Recibe" />
            <input type="hidden" readonly asp-for="MetodoNotificacion" />
            <input type="hidden" readonly asp-for="NumOficio" />
            <input type="hidden" readonly asp-for="FechaEmision" />
            <input type="hidden" readonly asp-for="Expide" />
            <input type="hidden" readonly asp-for="ReferenteImputado" />
            <input type="hidden" readonly asp-for="Sexo" />
            <input type="hidden" readonly asp-for="CausaPenal" />
            <input type="hidden" readonly asp-for="IdCausaPenal" />
            <input type="hidden" readonly asp-for="DelitoTipo" />
            <input type="hidden" readonly asp-for="ExisteVictima" />
            <input type="hidden" readonly asp-for="AsuntoOficio" />
            <input type="hidden" readonly asp-for="NombreVictima" />
            <input type="hidden" readonly asp-for="DireccionVictima" />
            <input type="hidden" readonly asp-for="AutoVinculacion" />
            <input type="hidden" readonly asp-for="TieneTermino" />
            <input type="hidden" readonly asp-for="UsuarioTurnar" />
            <input type="hidden" readonly asp-for="Observaciones" />
            <input type="hidden" readonly asp-for="FechaSeguimiento" />
            <input type="hidden" readonly asp-for="RutaArchivo" />
            <input type="hidden" readonly asp-for="Seguimiento" />
            <input type="hidden" readonly asp-for="Entregado" />
            <div class="form-group">
                <input type="hidden" readonly asp-for="IdepcrearAudiencia" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Audiencia</label>
                <input asp-for="FechaAudiencia" class="form-control" />
                <span asp-validation-for="FechaAudiencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <select class="form-control" name="Usuario" id="Usuario"
                        asp-items="@(new SelectList(ViewBag.LiataTurno, "Value"))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label"> Fecha de Notificacion</label>
                <input asp-for="FechaNotificacion" class="form-control" />
                <span asp-validation-for="FechaNotificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Juzgado</label>
                <select class="form-control" name="Juzgado" id="Juzgado"
                        asp-items="@(new SelectList(ViewBag.Liatajuzgado, "Value"))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Carpeta de Ejecucion</label>
                <input asp-for="Ce" class="form-control" />
                <span asp-validation-for="Ce" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Datos de sentenciado</label>
            </div>
            <div class="form-group col-md-4">
                <label  class="control-label">Apellido peterno</label>
                <input asp-for="Paterno" class="form-control" />
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Apellido materno</label>
                <input asp-for="MaternoS" class="form-control" />
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" readonly asp-for="EjecucionIdEjecucion" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

*@