@model scorpioweb.Models.Epamparo


@{
     Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="EditEpAmparo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idepamparo" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toca" class="control-label"></label>
                <input asp-for="Toca" class="form-control" />
                <span asp-validation-for="Toca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="hidden" readonly asp-for="EjecucionIdEjecucion" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

