@{
    ViewData["Title"] = "Ejecucion de Penas";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-1.11.1.min.js"></script>


<script>
    showModal = (url, title, id) => {
        $.ajax({
            type: "GET",
            url: url + "?id=" + id,
            success: function (res) {
                $("#form-modal .modal-body").html(res);
                $("#form-modal .modal-title").html(title);
                $("#form-modal").modal('show');
            },
            //data: {
            //    datosBitacora: [IdFracciones],
            //},
            error: function (res) {

            }
        })
    }

</script>




<div class="card-group" style="padding-top:2%">
    @if (User.IsInRole("Masteradmin") || User.IsInRole("Coordinador Ejecucion") || User.IsInRole("Ejecucion") || User.IsInRole("AuxiliarEjecucion") || User.Identity.Name == "jazmin.flores@dgepms.com")
    {
        <div class="col-md-12 col-md-12">
            <h2>Ejecución de Penas  </h2>
            @if (ViewBag.WarningsUser > 0)
            {
                <a href="/Archivo/ArchivoPrestamoDigital" class="link-archivo">
                    <h3 style="text-align:right; color:blue">Tu solicitud fue atendida: @ViewBag.WarningsUser</h3>
                </a>
            }
        </div>
        
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Ejecucion" asp-action="Index">
                        <img class="card-img-top" src="~/images/folder.png" alt="Card image cap" style="padding-bottom:5%;">
                        Gestión de caso
                    </a>
                </h4>
            </div>
        </div>
    }
    @if (User.IsInRole("Masteradmin") || User.IsInRole("Coordinador Ejecucion") || User.IsInRole("Ejecucion") || User.IsInRole("AuxiliarEjecucion") || User.Identity.Name == "jazmin.flores@dgepms.com")
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Ejecucion" asp-action="listaEpCrearAudiencia">
                        <img class="card-img-bottom" src="~/images/ley.png" alt="Card image cap" style="padding-bottom:5%;">
                        Crear Audiencia
                    </a>
                </h4>
            </div>
        </div>
    }
    @if (User.IsInRole("Masteradmin") || User.IsInRole("Coordinador Ejecucion") || User.IsInRole("AuxiliarEjecucion") || User.IsInRole("Ejecucion") || User.IsInRole("Operativo") || User.Identity.Name == "jazmin.flores@dgepms.com")
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Ejecucion" asp-action="WarningEjecucion">
                        <img class="card-img-bottom" src="~/images/warning.png" alt="Card image cap">
                        Alertas <span class="badge" style="background-color:red">@ViewBag.Warnings</span>
                    </a>
                </h4>
            </div>
        </div>
    }
</div>



