@{
    ViewData["Title"] = "Alertas";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    function formatDate(dateString) {
        if (dateString == null) {
            return "";
        }
        var d = new Date(dateString);
        const month = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        var date = d.getDate() + '-' + month[d.getMonth()] + '-' + d.getFullYear() + ', A las  ' + d.getHours() + ':' + d.getMinutes()
        return date;
    };

    $(document).ready(function () {
        function formatDate(dateString) {
            if (!dateString) return "";
            var d = new Date(dateString);
            return d.toLocaleDateString("es-MX");
        }

        $('#currentFilter').change(function () {
            var filtro = $(this).val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Ejecucion/filtra",
                traditional: true,
                data: { currentFilter: filtro },
                success: function (result) {
                    if (result.success) {
                        $('#tblAlertas').html('');
                        var row = '';
                        for (let i = 0; i < result.query.length; i++) {
                             var item = result.query[i];
                             // alert(item.id)
                             // alert(item.quienAsistira)
                             // alert(result.user)
                            if (item.quienAsistira == result.user || result.admin == true) {
                                row = row
                                    + "<tr>"
                                    + "<td>" + item.id + "</td>"
                                    + "<td>" + item.nomcom + "</td>"
                                    + "<td>" + item.carpetaEjecucion + "</td>";

                                switch (item.tipoAdvertencia) {
                                    case "Audiencia":
                                        row = row
                                            + "<td style=\"color:red\">"
                                            + "    " + item.tipoAdvertencia
                                            + "</td>";
                                        row = row
                                            + "<td>"
                                            + "    " + formatDate(item.fechaAudiencia)
                                            + "</td>"
                                        + "<td>" + item.quienAsistira + "</td>";
                                        break;
                                }
                                if (item.tipoAdvertencia == "Audiencia" && result.ejecucion == true) {
                                    row = row
                                        + "<td>"
                                        + "    <a type=\"button\" class=\"btn btn-success\" id=\"edicion\" href=\"/Ejecucion/listaEpCrearAudiencia/" + "\">"
                                        + "        <i class=\"fa fa-pencil\"></i> Detalle"
                                        + "    </a >"
                                        + "</td>";
                                    row = row + "<td></td>";
                                }
                                row = row + "</tr>";
                            }
                        }
                        if (row != '') {
                            $('#tblAlertas').append(row);
                        }
                    } else {
                        alert(result.responseText);
                    }
                },
                error: function () {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });

        $("#currentFilter").change();
    });

</script>

<div class="text-center" style="padding-top:1%">
    <img src="~/images/warning.png" class="rounded" alt="..." style="max-width:10%">
    <br />
    <h4>Alertas</h4>
</div>
@if (ViewBag.WarningsUser > 0)
{
    <a href="/Archivo/ArchivoPrestamoDigital" class="link-archivo">
        <h3 style="text-align:right; color:blue">Tu solicitud fue atendida: @ViewBag.WarningsUser</h3>
    </a>
}

<form asp-action="WarningSupervisor" method="get">
    <div class="form-group col-xs-4">
        <label class="control-label">Tipo</label>
        <select class="form-control" name="currentFilter" id="currentFilter">
            <option value="TODOS">Todos</option>
            <option value="AUDIENCIAS">Audiencia</option>

        </select>
    </div>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                <a>ID</a>
            </th>
            <th>
                <a>Nombre</a>
            </th>
            <th>
                <a>Carpeta de Ejecución</a>
            </th>
            <th>
                <a>Tipo de Alerta</a>
            </th>
            <th>
                <a>Informacion del Campo </a>
            </th>
            <th>
                <a>Usuario </a>
            </th>
        </tr>
    </thead>
    <tbody id="tblAlertas">
    </tbody>
</table>