@model scorpioweb.Models.Bitacora

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form onsubmit="return confirm('¿Deseas modificar los datos?');" asp-action="EditBitacora" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdBitacora" />
            <div class="form-group col-lg-12">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" type="date" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Supervisado / Víctima</label>
                <select asp-for="TipoPersona" class="form-control" name="TipoPersona" id="TipoPersona"
                        asp-items="@(new SelectList(ViewBag.TipoPersona, "Value", "Text", @ViewBag.idTipoPersona))">
                </select>
            </div>
            <div class="form-group col-lg-12">
                <label class="control-label">Acción de Supervisión</label>
                <select asp-for="TipoVisita" class="form-control" name="TipoVisita" id="TipoVisita"
                        asp-items="@(new SelectList(ViewBag.TipoVisita, "Value", "Text", @ViewBag.idTipoVisita))">
                </select>
            </div>

            <div class="form-group col-lg-12">
                <label asp-for="Texto" class="control-label"></label>
                <textarea asp-for="Texto" class="form-control" cols="20" rows="5"></textarea>
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="custom-file form-group col-lg-12" style="padding-bottom:20px">
                <input type="file" class="custom-file-input" id="evidencia" name="evidencia" lang="es">
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group col-lg-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>
