@model scorpioweb.Models.Suspensionseguimiento

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#Suspendido').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivFechaAprobacion").css("display", "block");
                $("#DivMotivoSuspension").css("display", "block");
            }
            else {
                $("#DivFechaAprobacion").css("display", "none");
                $("#DivMotivoSuspension").css("display", "none");
            }
        });
    });
</script>


@{
    ViewData["Title"] = "Suspensionseguimiento";
}

<h2>Suspensión seguimiento</h2>
<h4>Nombre: @ViewBag.nombre</h4>
<h4>CPS: @ViewBag.cp</h4>
<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSuspensionseguimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSuspensionSeguimiento" />
            <div class="form-group">
                <label class="control-label">Suspendido</label>
                <select class="form-control" name="Suspendido" id="Suspendido"
                        asp-items="@(new SelectList(ViewBag.listaSuspendido, "Value", "Text", @ViewBag.idSuspendido))">
                </select>
            </div>
            @if (ViewBag.suspe == "SI")
            {
                <div class="form-group" id="DivFechaAprobacion">
                    <label class="control-label">Fecha de Aprobación</label>
                    <input asp-for="FechaAprobacion" class="form-control" />
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                </div>
                <div class="form-group" id="DivMotivoSuspension">
                    <label class="control-label">Motivo de Suspensión</label>
                    <input asp-for="MotivoSuspension" class="form-control" />
                    <span asp-validation-for="MotivoSuspension" class="text-danger"></span>
                </div>
            }
            @if (ViewBag.suspes == "NO" || ViewBag.suspes == "NA" )
            {
                <div class="form-group" style="display:none" id="DivFechaAprobacion">
                    <label class="control-label">Fecha de Aprobación</label>
                    <input asp-for="FechaAprobacion" class="form-control" />
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none" id="DivMotivoSuspension">
                    <label class="control-label">Motivo de Suspensión</label>
                    <input asp-for="MotivoSuspension" class="form-control" />
                    <span asp-validation-for="MotivoSuspension" class="text-danger"></span>
                </div>
            }

            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonaSupervision">Regresar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
