@model scorpioweb.Models.Revocacion

@{
    ViewData["Title"] = "EditRevocacion";
}

<h2>EditRevocacion</h2>

<h4>Revocacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRevocacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRevocacion" />
            <div class="form-group">
                <label asp-for="Revocado" class="control-label"></label>
                <input asp-for="Revocado" class="form-control" />
                <span asp-validation-for="Revocado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAprobacion" class="control-label"></label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoRevocacion" class="control-label"></label>
                <input asp-for="MotivoRevocacion" class="form-control" />
                <span asp-validation-for="MotivoRevocacion" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
