@model scorpioweb.Models.Planeacionestrategica

@{
    ViewData["Title"] = "EditPlaneacionestrategica";
}

<h2>EditPlaneacionestrategica</h2>

<h4>Planeacionestrategica</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPlaneacionestrategica">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPlaneacionEstrategica" />
            <div class="form-group">
                <label class="control-label">Plan de Supervision</label>
                <select class="form-control" name="PlanSupervision"
                        asp-items="@(new SelectList(ViewBag.listaPlanSupervision, "Value", "Text", @ViewBag.idPlanSupervision))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Motivo de no Planeación</label>
                <input asp-for="MotivoNoPlaneacion" class="form-control" />
                <span asp-validation-for="MotivoNoPlaneacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Aprobación</label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Último Informe</label>
                <input asp-for="UltimoInforme" class="form-control" />
                <span asp-validation-for="UltimoInforme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Informe</label>
                <input asp-for="FechaInforme" class="form-control" />
                <span asp-validation-for="FechaInforme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Ultimo Contacto</label>
                <input asp-for="FechaUltimoContacto" class="form-control" />
                <span asp-validation-for="FechaUltimoContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Proximo Contacto</label>
                <input asp-for="FechaProximoContacto" class="form-control" />
                <span asp-validation-for="FechaProximoContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Dia de Firma</label>
                <input asp-for="DiaFirma" class="form-control" />
                <span asp-validation-for="DiaFirma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Periodicidad de Firma</label>
                <select class="form-control" name="PeriodicidadFirma"
                        asp-items="@(new SelectList(ViewBag.listaPeriodicidadFirma, "Value", "Text", @ViewBag.idPeriodicidadFirma))">
                </select>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
