@model scorpioweb.Models.Revocacion
<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#Revocado').change(function () {
            var dat = $(this).children("option:selected").val();
            if (dat == "SI") {
                $("#DivFechaAprobacion").css("display", "block");
                $("#DivMotivoRevocacion").css("display", "block");
            }
            else {
                $("#DivFechaAprobacion").css("display", "none");
                $("#DivMotivoRevocacion").css("display", "none");
            }
        });
    });
</script>
@{
    ViewData["Title"] = "EditRevocacion";
}


<h2>Revocación</h2>
<h4>Nombre: @ViewBag.nombre</h4>
<h4>CP: @ViewBag.cp</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRevocacion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdRevocacion" />
            <div class="form-group">
                <label class="control-label">Revocado</label>
                <select class="form-control" name="Revocado" id="Revocado"
                        asp-items="@(new SelectList(ViewBag.listaRevocado, "Value", "Text", @ViewBag.idRevocado))">
                </select>
            </div>
            @if (ViewBag.revocado == "SI")
            {
                <div class="form-group" id="DivFechaAprobacion">
                    <label class="control-label">Fecha de Aprobación</label>
                    <input asp-for="FechaAprobacion" class="form-control" />
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                </div>

                <div class="form-group" id="DivMotivoRevocacion">
                    <label class="control-label">Motivo de Revocación</label>
                    <input asp-for="MotivoRevocacion" class="form-control" />
                    <span asp-validation-for="MotivoRevocacion" class="text-danger"></span>
                </div>
            }
            @if (ViewBag.revocado == "NO" || ViewBag.revocado == "NA")
            {
                <div class="form-group" style="display:none" id="DivFechaAprobacion">
                    <label class="control-label">Fecha de Aprobación</label>
                    <input asp-for="FechaAprobacion" class="form-control" />
                    <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
                </div>

                <div class="form-group" style="display:none" id="DivMotivoRevocacion">
                    <label class="control-label">Motivo de Revocación</label>
                    <input asp-for="MotivoRevocacion" class="form-control" />
                    <span asp-validation-for="MotivoRevocacion" class="text-danger"></span>
                </div>
            }

            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PersonaSupervision">Regresar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
