@model scorpioweb.Models.Aer

@{
    ViewData["Title"] = "EditAer";
}

<h2>EditAer</h2>

<h4>Aer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAer" />
            <div class="form-group">
                <label asp-for="CuentaEvaluacion" class="control-label"></label>
                <input asp-for="CuentaEvaluacion" class="form-control" />
                <span asp-validation-for="CuentaEvaluacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntrega" class="control-label"></label>
                <input asp-for="FechaEntrega" class="form-control" />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvaluadorCaso" class="control-label"></label>
                <input asp-for="EvaluadorCaso" class="form-control" />
                <span asp-validation-for="EvaluadorCaso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiesgoDetectado" class="control-label"></label>
                <input asp-for="RiesgoDetectado" class="form-control" />
                <span asp-validation-for="RiesgoDetectado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiesgoSustraccion" class="control-label"></label>
                <input asp-for="RiesgoSustraccion" class="form-control" />
                <span asp-validation-for="RiesgoSustraccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiesgoObstaculizacion" class="control-label"></label>
                <input asp-for="RiesgoObstaculizacion" class="form-control" />
                <span asp-validation-for="RiesgoObstaculizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiesgoVictima" class="control-label"></label>
                <input asp-for="RiesgoVictima" class="form-control" />
                <span asp-validation-for="RiesgoVictima" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
