@model scorpioweb.Models.Cambiodeobligaciones

@{
    ViewData["Title"] = "EditCambiodeobligaciones";
}

<h2>Cambio de obligaciones</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCambiodeobligaciones">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCambiodeObligaciones" />
            <div class="form-group">
                <label class="control-label">Se dio Cambio</label>
                <select class="form-control" name="SeDioCambio"
                        asp-items="@(new SelectList(ViewBag.listaSediocambio, "Value", "Text", @ViewBag.idSediocambio))">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de Aprobacion</label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Motivo de Aprobacion</label>
                <input asp-for="MotivoAprobacion" class="form-control" />
                <span asp-validation-for="MotivoAprobacion" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="SupervisionIdSupervision" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
