@{
    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        <a asp-action="tipoOficio" asp-route-id="@ViewBag.idSupervision" asp-route-tipo="1">
            <i class="fa fa-file-text-o"></i> Colaboración DMSP
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a id="btnEditar">
            <i class="fa fa-file-text-o"></i> Colaboración otro Estado
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a id="btnEditar">
            <i class="fa fa-file-text-o"></i> Colaboración Policia Estatal
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a id="btnEditar">
            <i class="fa fa-file-text-o"></i> Colaboración INM
        </a>
    </div>
</div>
