
@{
    ViewData["Title"] = "MenuSupervision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MenuSupervision</h2>


<div class="card-group" style="padding-top:2%">
    <div class="col-sm-3 card text-center" style="width:50%; height:50%">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Supervisiones" asp-action="PersonaSupervision">
                    <img class="card-img-bottom" src="~/images/vigilancia.png" alt="Card image cap" style="padding-bottom:5%; width:25%; height:25%"><br />
                    Vigilancia y Supervisión
                </a>
            </h4>
            <p class="card-text">
                Control de supervisados, estatus jurídico, incumplimientos, visitas, etc.
            </p>
        </div>
    </div>
</div>
