@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnElegir').on("click", function (e) {
            e.preventDefault();
            var cp = document.getElementById("CausaPenal");
            //https://stackoverflow.com/questions/15839169/how-to-get-value-of-selected-radio-button
            cp.value = $("input[type='radio'][name='radioGroup']:checked").val();
            var idCausaPenal = document.getElementById("idCausaPenal");
            idCausaPenal.value = $("input[type='radio'][name='radioGroup']:checked").attr('placeholder');
        });
    });
</script>

<table class="table">
    <tr>
        <th>
        </th>
        <th style="text-align:center">
            Causa Penal
        </th>
        <th style="text-align:center">
            Juez
        </th>
        <th style="text-align:center">
            Distrito
        </th>
    </tr>
    @{
        int i = 0;
    }
    @foreach (var item in ViewData["CPList"] as IEnumerable<scorpioweb.Models.Causapenal>)
    {
        i++;
        <tr>
            <td>
                <input type="radio" id=@i name="radioGroup" placeholder=@Html.DisplayFor(modelItem => item.IdCausaPenal) value=@Html.DisplayFor(modelItem => item.CausaPenal)>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CausaPenal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juez)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito)
            </td>
        </tr>
    }
</table>
<button class="btn btn-primary" id="btnElegir" name="btnElegir">
    Elegir
</button>
