
@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12 col-md-12" style="padding-top:2%">
    <div class="card-group">
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Oficialia" asp-action="Captura">
                        <img class="card-img-top" src="~/images/data-entry.png" alt="Card image cap" style="padding-bottom:5%;">
                        Captura
                    </a>
                </h4>
                <p class="card-text">

                </p>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Oficialia" asp-action="EditRegistros">
                        <img class="card-img-top" src="~/images/edit.png" alt="Card image cap" style="padding-bottom:5%;">
                        Editar Registro
                    </a>
                </h4>
                <p class="card-text">

                </p>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="" asp-action="">
                        <img class="card-img-top" src="~/images/seo-report.png" alt="Card image cap" style="padding-bottom:5%;">
                        Reportes
                    </a>
                </h4>
                <p class="card-text">

                </p>
            </div>
        </div>
    </div>
</div>