
@{
    ViewData["Title"] = "Oficialía de Partes";
}

<style>
    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }

        .buttons a:hover {
            transform: scale(1.2);
        }

    #agenda {
        background: #314652;
        margin-left: 20px;
    }

    #calendario {
        background: #00B812;
        margin-left: 20px;
    }

    #mensajeSistema {
        background: #0078A7;
        margin-left: 20px;
    }

    #libronegro {
        background: #fff;
        margin-left: 20px;
    }

    #seccionBotones {
        padding-top: 1em;
    }

</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    function openFullScreenWindow() {
        const screenWidth = window.screen.availWidth;
        const screenHeight = window.screen.availHeight;

        const newWindow = window.open("/Personas/Contacto", "_blank", `fullscreen=yes,toolbar=yes,scrollbars=yes,resizable=yes,width=${screenWidth},height=${screenHeight}`);
    }
</script>

<div class="col-sm-12 col-md-12" style="padding-bottom:5px">
    <div class="card-group">
@if (User.IsInRole("Masteradmin") || User.IsInRole("Oficialia"))
{
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Oficialia" asp-action="EditRegistros">
                    <img class="card-img-top" src="~/images/data-entry.png" alt="Card image cap" style="padding-bottom:5%;">
                    Consulta y creación de registros
                </a>
            </h4>
            <p class="card-text">

            </p>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Oficialia" asp-action="Reportes">
                    <img class="card-img-top" src="~/images/seo-report.png" alt="Card image cap" style="padding-bottom:5%;">
                    Reportes
                </a>
            </h4>
            <p class="card-text">

            </p>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Calendarios" asp-action="Index" asp-route-origen="2">
                    <img class="card-img-top" src="~/images/schedule.png" alt="Card image cap" style="padding-bottom:5%;">
                    Calendario
                </a>
            </h4>
            <p class="card-text">

            </p>
        </div>
    </div>
}
else
{
            <div class="col-sm-3 col-md-3 card text-center">
                <div class="card-body">
                    <h4 class="card-title">
                        <a asp-controller="Calendarios" asp-action="Index" asp-route-origen="2">
                            <img class="card-img-top" src="~/images/schedule.png" alt="Card image cap" style="padding-bottom:5%;">
                            Calendario
                        </a>
                    </h4>
                    <p class="card-text">

                    </p>
                </div>
            </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Oficialia" asp-action="EditRegistros">
                    <img class="card-img-top" src="~/images/data-entry.png" alt="Card image cap" style="padding-bottom:5%;">
                    Consulta de registros
                </a>
            </h4>
            <p class="card-text">

            </p>
        </div>
    </div>
}
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Oficialia" asp-action="Seguimiento">
                    <img class="card-img-top" src="~/images/responsibility.png" alt="Card image cap" style="padding-bottom:5%;">
                    Seguimiento
                </a>
            </h4>
            <p class="card-text">

            </p>
        </div>
    </div>
    </div>
</div>

<div class="bg-light clearfix" id="seccionBotones">
    <section class="buttons" style="padding-right: 1em;">
        <a onclick="openFullScreenWindow()" class="fa fa-address-book float-right" id="agenda" title="Contactos"></a>
    </section>
</div>