
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success</h2>

<img src="~/images/@ViewBag.photo" width="120" height="100"/>
<a href="~/images/@ViewBag.photo" target="_blank">Ir a la imagen</a>

