@model scorpioweb.Models.Contactos

@{
    ViewData["Title"] = "AddContacto";
    Layout = null;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddContacto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lugar" class="control-label">Estado-Municipio</label>
                <input asp-for="Lugar" class="form-control"  />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependencia" class="control-label">Dependencia</label>
                <input asp-for="Dependencia" class="form-control"  />
                <span asp-validation-for="Dependencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titular" class="control-label">Titular</label>
                <input asp-for="Titular" class="form-control" />
                <span asp-validation-for="Titular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label">Correo</label>
                <input type="email" asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="Telefono" class="control-label">Telefono</label>
                <input type="tel" pattern="[0-9]{10}" maxlength="10" asp-for="Telefono" class="form-control"/>
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extencion" class="control-label">Extencion</label>
                <input asp-for="Extencion" class="form-control" />
                <span asp-validation-for="Extencion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

