
<h2>Contactos</h2>
<br />
@{
    int i = 0;
    string collapse = "#collapse";
    string collapseid = "collapse";
}
@foreach (var item in ViewData["ListaEstados"] as IEnumerable<scorpioweb.Models.EstadoMunicipio>)
{
   i++;
   <div class="row">
    <div class="col-md-12">
         <div class="container sub-page forma">
            <div class="container">
                <div class="panel-group">
                    <div id="@item.estadosVM.Estado" class="panel panel-primary">
                        <div class="panel-heading" style="color:#fff; background-color:#0078A7; border-color:#0078A7;" data-toggle="collapse" href="@(collapse+i)" onclick="mostrar">
                            <h4 class="panel-title">
                               <p style="margin-bottom:unset">@item.estadosVM.Estado</p>
                            </h4>
                        </div>
                        <div id="@(collapseid+i)" class="panel-collapse collapse" style="padding-top:1%;">
                            <div>
                                 <h4 class="panel-title">
                                   <p style="margin-bottom:unset">Durango</p>
                                </h4>
                            </div>   
                            <div class="form-group col-md-6">   
                                <label class="control-label">Sexo</label>
                                <select required class="form-control" name="sexo" id="sexo">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                    <option value="N">Prefiero no decirlo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="control-label">Edad</label>
                                <input required name="edad" type="number" value="0" class="form-control" />
                            </div>
                    
                            <div class="form-group">
                                <label class="control-label">Ubicación del expediente (únicamente Durango)</label>
                                <select required class="form-control" name="ubicacionExpediente">
                                    <option value="NA">NA</option>
                                    <option value="MCSCP1-1">MCSCP1-1</option>
                                   
                                </select>
                            </div>
                            <div class="col-md-12"> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>
}