@model scorpioweb.Models.Persona

@{
  Layout = null;
}
<div class="row">
  <div class="col-md-4">
    <form asp-action="EditFoto" enctype="multipart/form-data">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="IdPersona" />
      <div class="custom-file">
        <input required type="file" class="custom-file-input" id="fotoEditada" name="fotoEditada" lang="es">
      </div>
      <br/>
      <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
