@model scorpioweb.Models.Contactos

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="EditContacto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idcontactos" />

            <input type="hidden" asp-for="Destacado" class="form-control" value="0" />
               
        
            <div class="form-group col-md-12">
                <label asp-for="Lugar" class="control-label" style="font-size: 15px;"></label>
                <input asp-for="Lugar" class="form-control" style="font-size: 15px;" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Dependencia" class="control-label" style="font-size: 15px;"></label>
                <input asp-for="Dependencia" class="form-control" style="font-size: 15px;" />
                <span asp-validation-for="Dependencia" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Titular" class="control-label" style="font-size: 15px;"></label>
                <input asp-for="Titular" class="form-control" style="font-size: 15px;" />
                <span asp-validation-for="Titular" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Correo" class="control-label" style="font-size: 15px;"></label>
                <input asp-for="Correo" class="form-control" style="font-size: 15px;" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Telefono" class="control-label" style="font-size: 15px;"></label>
                <input asp-for="Telefono" class="form-control" style="font-size: 15px;" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="Extencion" class="control-label" style="font-size: 15px;"></label>
                <input asp-for="Extencion" class="form-control" style="font-size: 15px;" />
                <span asp-validation-for="Extencion" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary" style="font-size: 15px;">
                    <i class="fa fa-save"></i> Editar
                </button>
           </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
