@model IEnumerable<scorpioweb.Models.PresentacionPeriodicaPersona>

    @{
    ViewData["Title"] = "Presentaciónes Periodicas";
    Layout = "/Views/Shared/_Layout.cshtml";
    }




    @foreach (var item in ViewData["joinTbalasProceso1"] as IEnumerable<scorpioweb.Models.PresentacionPeriodicaPersona>)
        {
        <h2>Nombre: @Html.DisplayFor(modelItem => item.personaVM.NombreCompleto) </h2>
        break;
        }

        <table class="table">
            <thead>
                <tr>
                    <th>Prsentación Periodica</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["joinTablasPresentacion"] as IEnumerable
                <scorpioweb.Models.PresentacionPeriodicaPersona>
                    )
                    {
                <tr>
                    <td>
                        @if (item.presentacionperiodicaVM.FechaFirma != null)
                        {
                            @(item.presentacionperiodicaVM.FechaFirma.Value.ToString("dd MMMM yyyy HH:mm"))
                        }
                    </td>                  
                </tr>
                    }

            </tbody>
        </table>
        <a asp-action="Index" class="btn btn-link">
            Regresar al listado completo
        </a>
