
@{
    ViewData["Title"] = "SinSupervision";
}

<h2 style="text-align:center">No cuenta con supervisiones activas</h2>

<a asp-action="Index" class="btn btn-link">
  Regresar al listado completo
</a>
