@{
    ViewData["Title"] = "Alertas";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#currentFilter').change(function () {
            var s = document.getElementById("currentFilter");
            var filtro = s.options[s.selectedIndex].value;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Personas/filtra",
                traditional: true,
                data: {
                    currentFilter: filtro,
                },
                success: function (result) {
                    if (result.success) {
                        $('#tblAlertas').html('');
                        var row = '';
                        for (let i = 0; i < result.query.length; i++) {
                            var dateString = result.query[i].planeacionestrategicaVM.fechaInforme;
                            var d = new Date(dateString);
                            var hours = d.getHours();
                            var minutes = d.getMinutes();
                            var ampm = hours >= 12 ? 'PM' : 'AM';
                            hours = hours % 12;
                            hours = hours ? hours : 12; // the hour '0' should be '12'
                            minutes = minutes < 10 ? '0'+minutes : minutes;
                            var date = (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() + ' ' + hours + ':' + minutes + ' ' + ampm;
                            if (dateString == null)
                            {
                                date = "";
                            }

                            row = row
                                + "<tr>"
                                + "<td>" + result.query[i].personaVM.idPersona + "</td>"
                                + "<td>" + result.query[i].personaVM.nombreCompleto + "</td>"
                                + "<td>" + result.query[i].causapenalVM.causaPenal + "</td>";

                            switch (result.query[i].tipoAdvertencia)
                            {
                                case "Informe fuera de tiempo":
                                    if (result.query[i].figuraJudicial == "MC")
                                    {
                                        row = row
                                            + "<td>"
                                            + "Control de supervisión"
                                            + "</td>";
                                    }
                                    else
                                    {
                                        var date30 = Date.now();
                                        date30 += 1000 * 60 * 60 * 24 * 30;
                                        var date5 = Date.now();
                                        date5 += 1000 * 60 * 60 * 24 * 5;

                                        if (Date.parse(result.query[i].planeacionestrategicaVM.fechaInforme) < date30 && Date.parse(result.query[i].planeacionestrategicaVM.fechaInforme) > date5)
                                        {
                                            row = row
                                                + "<td>"
                                                + "    Informe en próximos 30 días"
                                                + "</td>";
                                        }
                                        else
                                        {
                                            if (Date.parse(result.query[i].planeacionestrategicaVM.fechaInforme) < Date.now())
                                            {
                                                row = row
                                                    + "<td style=\"color:red\">"
                                                    + "    Informe fuera de tiempo"
                                                    + "</td>";
                                            }
                                            else
                                            {
                                                row = row
                                                    + "<td style=\"color:#F0AD00\">"
                                                    + "    Informe en menos de 5 días"
                                                    + "</td>";
                                            }
                                        }
                                    }
                                    row = row
                                        + "<td>"
                                        + "    " + date
                                        + "</td>";
                                    break;
                                case "Control de supervisión a 3 días o menos":
                                    if (Date.parse(result.query[i].planeacionestrategicaVM.fechaInforme) < Date.now())
                                    {
                                        row = row
                                            + "<td style=\"color:red\">"
                                            + "    Control de supervisión fuera de tiempo"
                                            + "</td>";
                                    }
                                    else
                                    {
                                        row = row
                                            + "<td>"
                                            + "    " + result.query[i].tipoAdvertencia
                                            + "</td>";
                                    }
                                    row = row
                                        + "<td>"
                                        + "    " + date
                                        + "</td>";
                                    break;
                                case "Sin fecha de informe":
                                    if (result.query[i].figuraJudicial != "MC")
                                    {
                                        row = row
                                            + "<td>"
                                            + "    " + result.query[i].tipoAdvertencia
                                            + "</td>";
                                    }
                                    else
                                    {
                                        row = row
                                            + "<td>"
                                            + "    Sin control de supervisión"
                                            + "</td>";
                                    }
                                    row = row
                                        + "<td>"
                                        + "    " + date
                                        + "</td>";
                                    break;
                                case "Sin periodicidad de firma":
                                    row = row
                                        + "<td>"
                                        + "    " + result.query[i].tipoAdvertencia
                                        + "</td>";
                                    row = row + "<td>";
                                    if (result.query[i].planeacionestrategicaVM.periodicidadFirma != null)
                                        row = row + "    " + result.query[i].planeacionestrategicaVM.periodicidadFirma;
                                    row = row + "</td>";
                                    break;
                                case "Sin estado de supervisión":
                                    row = row
                                        + "<td>"
                                        + "    " + result.query[i].tipoAdvertencia
                                        + "</td>";
                                    row = row + "<td>";
                                    if (result.query[i].supervisionVM.estadoSupervision != null)
                                    {
                                        row = row + "    " + result.query[i].supervisionVM.estadoSupervision;
                                    }
                                    row = row + "</td>";
                                    break;
                            }

                            row = row
                                + "<td>" + result.query[i].municipiosVM.municipio + "</td>"
                                + "<td>" + result.query[i].personaVM.supervisor + "</td>";
                            row = row + "<td>";
                            if (result.query[i].figuraJudicial != null)
                            {
                                row = row + "<td>" + result.query[i].figuraJudicial + "</td>";
                            }
                            row = row + "</td>";
                            if (result.query[i].tipoAdvertencia == "Sin estado de supervisión")
                            {
                                row = row
                                    + "<td>"
                                    + "    <a type=\"button\" class=\"btn btn-success\" id=\"edicion\" href=\"/Supervisiones/Edit/131?nombre=TORRES%20ANDRADE%20JESUS&amp;cp=88%2F2020\">"
                                    + "        <i class=\"fa fa-pencil\"></i> Detalle"
                                    + "    </a >"
                                    + "</td>";
                            }
                            else
                            {
                                row = row
                                    + "<td>"
                                    + "    <a type=\"button\" class=\"btn btn-success\" id=\"edicion\" href=\"/Supervisiones/EditPlaneacionestrategica/" + result.query[i].supervisionVM.idSupervision + "?nombre=" + result.query[i].personaVM.nombreCompleto + "&amp;cp=" + result.query[i].causapenalVM.causaPenal + "\">"
                                    + "        <i class=\"fa fa-pencil\"></i> Detalle"
                                    + "    </a >"
                                    + "</td>";
                            }
                            row = row + "</tr>";
                        }
                        if (row != '') {
                            $('#tblAlertas').append(row);
                        }
                    } else {
                        alert(result.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        $("#currentFilter").change();
    });
</script>

<div class="text-center" style="padding-top:1%">
    <img src="~/images/warning.png" class="rounded" alt="..." style="max-width:10%">
    <br />
    <h4>Alertas</h4>
</div>

<form asp-action="WarningSupervisor" method="get">
    <div class="form-group col-xs-4">
        <label class="control-label">Tipo</label>
        <select class="form-control" name="currentFilter" id="currentFilter">
            <option value="TODOS">Todos</option>
            <option value="INFORME FUERA DE TIEMPO">Informe fuera de tiempo</option>
            <option value="CONTROL DE SUPERVISION A 3 DIAS O MENOS">Control de supervisión a 3 días o menos</option>
            <option value="SIN FECHA DE INFORME">Sin fecha de informes/Sin control de supervisión</option>
            <option value="SIN PERIODICIDAD DE FIRMA">Sin periodicidad de firma</option>
            <option value="SIN ESTADO DE SUPERVISION">Sin estado de supervisión</option>
        </select>
    </div>
</form>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                <a>ID</a>
            </th>
            <th>
                <a>Nombre</a>
            </th>
            <th>
                <a>Causa Penal</a>
            </th>
            <th>
                <a>Tipo de alerta</a>
            </th>
            <th>
                <a>Información de campo</a>
            </th>
            <th>
                <a>Municipio</a>
            </th>
            @if (ViewBag.Admin)
            {
                <th>
                    <a>Supervisor</a>
                </th>
            }
            @*<th> se desacomodan dependiendo del filtro
                <a>Figura Judicial</a>
            </th>
            <th>
                <a>Detalle</a>
            </th>*@
        </tr>
    </thead>
    <tbody id="tblAlertas">
    </tbody>
</table>
