@model scorpioweb.Models.Persona

@{
    ViewData["Title"] = "Asignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#btnAsignar').on("click", function (e) {
            e.preventDefault();

            var cp = document.getElementById("selectPersonas");
            var idPersona = cp.options[cp.selectedIndex].value;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Causaspenales/AsignarPersona",
                traditional: true,
                data: {
                    datosPersona: [idPersona],
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getelementbyid("selectPerpersonasonas").value = '';
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
    });
</script>

<h2>Asignación</h2>

<div class="form-group col-lg-12">
    <div class="form-group col-lg-6">
        <label class="control-label">Personas</label>
        <select class="form-control" id="selectPersonas" name="persona_idPersona"
                asp-items="@(new SelectList(ViewBag.personas, "IdPersona", "NombreCompleto"))">
        </select>
    </div>
    <div class="form-group  col-lg-12">
        <input type="submit" value="Save" class="btn btn-default" id="btnAsignar" />
        <form asp-action="Asignacion">
            <input type="submit" value="Asignar" class="btn btn-success" />
            <hr />
            <a asp-action="Index">Regresar al listado completo</a>
        </form>
    </div>
</div>

