@{
    ViewData["Title"] = "Medidas Cautelares y Suspensión Condicional del Proceso";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class=" card-group" style="padding-top:2%">
    >
    <div class="col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Causaspenales" asp-action="index">
                    <img class="card-img-bottom" src="~/images/folder.png" alt="Card image cap" style="padding-bottom:5%;">
                    Control de CP
                </a>
            </h4>
            <p class="card-text">
                Control de casusas penales
            </p>
        </div>
    </div>
    <div class="col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Causaspenales" asp-action="AsignacionCP">
                    <img class="card-img-bottom" src="~/images/dossier.png" alt="Card image cap" style="padding-bottom:5%;">
                    Asignación de CP
                </a>
            </h4>
            <p class="card-text">
                Asignación de causas penales
            </p>
        </div>
    </div>

</div>