@{
    Layout = null;
}


<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 2px solid #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #f2f2f2;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #f2f2f2;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <form onsubmit="return confirm('¿Deseas guardar datos?');" asp-action="CreateDelito" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-12 autocomplete">
                <label class="control-label">Tipo</label>
                <input required name="tipoD" id="tipoD" type="text" maxlength="150" class="form-control" />
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Modalidad</label>
                <input name="Modalidad" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
            <input name="id" type="hidden" value="@ViewBag.idDelito" />
        </form>
    </div>
</div>
