@{
    ViewData["Title"] = "CrearCausaPenal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 2px solid #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
           
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #f2f2f2;
            cursor: pointer;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            /*when hovering an item:*/
            .autocomplete-items div:hover {
                background-color: #e9e9e9;
            }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #f2f2f2;
    }
</style>



<script type="text/javascript">
    var tipo = 0;
    $(document).ready(function () {
        $('#btnGuardarDelito').on("click", function (e) {
            e.preventDefault();
            var tipodel = document.getElementById("tipoD").value;
            var modalidad = document.getElementById("modalidadD").value;
            var especificarD = document.getElementById("Edelito").value;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Causaspenales/GuardarDelito",
                traditional: true,
                data: {
                    datosDelito: [tipodel, modalidad, especificarD],
                },
                success: function (response) {
                    if (response.success) {
                        alert(response.responseText);
                        document.ready = document.getElementById("tipoD").value = '';
                        document.ready = document.getElementById("modalidadD").value = '';
                        document.ready = document.getElementById("Edelito").value = '';
                        var otraDelito = confirm("¿Agregar otro delito?");
                        if (otraDelito == true) {
                            alert("Coloque los datos correspondientes");
                        } else {
                            $("#modalDelito").modal('hide');
                        }
                    } else {
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                }
            });
        });
        function autocomplete(inp, arr) {
            var currentFocus;
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        b = document.createElement("DIV");
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; b.addEventListener("click", function (e) {
                            inp.value = this.getElementsByTagName("input")[0].value;

                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });

            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {

                    currentFocus++;

                    addActive(x);
                } else if (e.keyCode == 38) { //up

                    currentFocus--;

                    addActive(x);
                } else if (e.keyCode == 13) {

                    e.preventDefault();
                    if (currentFocus > -1) {

                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {

                if (!x) return false;

                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);

                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {

                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        var countries = ["Robo", "Homicidio", "Contra la Salud", "Lesiones", "Violencia Familiar","Daños"];
        autocomplete(document.getElementById("tipoD"), countries);
    });

        

</script>

<h2>Crear causa Penal</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="cnpp" id="cnpp" value="Si" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Juez</label>
                <input required name="juez" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Cambio</label>
                <select required class="form-control" name="Cambio" id="Cambio">
                    <option value="No">No</option>
                    <option value="SI">Si</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Distrito</label>
                <select required class="form-control" name="distrito" id="distrito">
                    <option value="I">I</option>
                    <option value="II">II</option>
                    <option value="III">III</option>
                    <option value="IV">IV</option>
                    <option value="V">V</option>
                    <option value="VI">VI</option>
                    <option value="VII">VII</option>
                    <option value="VIII">VIII</option>
                    <option value="IX">IX</option>
                    <option value="X">X</option>
                    <option value="XI">XI</option>
                    <option value="XII">XII</option>
                    <option value="XIII">XIII</option>
                    <option value="XIV">XIV</option>
                    <option value="XV">XV</option>
                    <option value="XVI">XVI</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Causa Penal</label>
                <input required name="cp" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDelito">
                    <i class="fa fa-plus"></i> Delito asociado a la Causa
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i> Guardar
                </button>



            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a lista</a>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDelito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h1 class="modal-title" style="font-size: 30px; color:#fff;" id="exampleModalLongTitle">Delito</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="form-group col-md-12 autocomplete" style="padding-top:15px;">
                <label class="control-label">Tipo</label>
            </div>
            <div class="form-group col-md-12">
              <input required name="tipoD" id="tipoD" type="text" class="form-control" />
            </div>    
            <div class="form-group col-md-12">
                <label class="control-label">Modalidad</label>
                <input id="modalidadD" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-12" style="padding-top:15px;">
                <label class="control-label">Especifique Delito</label>
                <input id="Edelito" type="text" class="form-control" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary  col-md-3" data-dismiss="modal" style="margin-right:280px">
                    <i class="fa fa-close"></i> Cerrar
                </button>
                <br/>
                <button type="button" id="btnGuardarDelito" name="btnGuardarDelito" class="btn btn-primary col-md-3">
                    <i class="fa fa-save"></i> Guardar delito
                </button>
            </div>
        </div>
    </div>
</div>
