<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@{
    ViewData["Title"] = "CrearCausaPenal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <script type="text/javascript">
        var tipo = 0;
        $(document).ready(function () {
            $('#btnGuardarDelito').on("click", function (e) {
                e.preventDefault();

                var tipodel = document.getElementById("tipoD").value;
                var modalidad = document.getElementById("modalidadD").value;
                var especificarD = document.getElementById("Edelito").value;
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Causaspenales/GuardarDelito",
                    traditional: true,
                    data: {
                        datosDelito: [tipodel, modalidad, especificarD],
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.responseText);
                            document.ready = document.getElementById("tipoD").value = '';
                            document.ready = document.getElementById("modalidadD").value = '';
                            document.ready = document.getElementById("Edelito").value = '';
                            var otraDelito = confirm("¿Agregar otro delito?");
                            if (otraDelito == true) {
                                alert("Coloque los datos correspondientes");
                            } else {
                                $("#modalDelito").modal('hide');
                            }
                        } else {
                            alert(response.responseText);
                        }
                    },
                    error: function (response) {
                        alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                    }
                });
            });
        });
    </script>

<h2>Crear causa Penal</h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Cnpp</label>
                <select required class="form-control" name="cnpp" id="cnpp">
                    <option value="SI">Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Juez</label>
                <input required name="juez" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Cambio</label>
                <select required class="form-control" name="Cambio" id="Cambio">
                    <option value="SI">Si</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Distrito</label>
                <input required name="distrito" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Causa Penal</label>
                <input required name="cp" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalDelito">
                <i class="fa fa-plus"></i> Delito asociado a la Causa
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a lista</a>
</div>


<!-- Modal -->
<div class="modal fade" id="modalDelito" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0078A7;">
                <h1 class="modal-title" style="font-size: 30px; color:#fff;" id="exampleModalLongTitle">Delito</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Tipo</label>
                <input required name="tipoD" id="tipoD" type="text" class="form-control" />
            </div>
            <div class="form-grou col-md-12">
                <label class="control-label">Modalidad</label>
                <input required name="modalidadD"id="modalidadD" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Especifique Delito</label>
                <input required name="Edelito" id="Edelito" type="text" class="form-control" />
            </div>

            <div class="modal-footer" >
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fa fa-close"></i> Cerrar
                </button>
                <button type="button" id="btnGuardarDelito" name="btnGuardarDelito" class="btn btn-primary">
                    <i class="fa fa-save"></i> Guardar delito
                </button>
            </div>
        </div>
    </div>
</div>
