@model scorpioweb.Models.Delito

@{
    ViewData["Title"] = "EditarDelito";
}


<h2>Delito</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delito">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDelito" />
            <input type="hidden" asp-for="CausaPenalIdCausaPenal" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" maxlength="200" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modalidad" class="control-label"></label>
                <input asp-for="Modalidad" maxlength="200" class="form-control" />
                <span asp-validation-for="Modalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Especificar Delito</label>
                <input asp-for="EspecificarDelito" maxlength="45" class="form-control" />
                <span asp-validation-for="EspecificarDelito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EditCausas" asp-route-id="@Model.CausaPenalIdCausaPenal">Regresar a Causa</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
