@*Detalles Persona*@
@model IEnumerable<scorpioweb.Models.PersonaCausaPenalViewModel>

@{
    ViewData["Title"] = "DetailsCP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @foreach (var item in ViewData["joinTables"] as IEnumerable<scorpioweb.Models.PersonaCausaPenalViewModel>)
    {
        <h2>Personas Dentro de la CP @item.causaPenalVM.CausaPenal</h2>
        break;
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Apellido Paterno 
                </th>
                <th>
                    Apellido Materno
                </th>
                <th>
                    Nombre(s)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewData["joinTables"] as IEnumerable<scorpioweb.Models.PersonaCausaPenalViewModel>)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Paterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Materno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personaVM.Nombre)
                </td>

                <td>
                    <a href="/Personas/Details/@item.personaVM.IdPersona">
                     Detalles</a>
                </td>
            </tr>
            }
        </tbody>
        </table>
        <hr />

        <div>
            <a asp-action="Index">Regresar al listado completo</a>
        </div>
