@*Detalles Persona*@
@model IEnumerable<scorpioweb.Models.PersonaCausaPenalViewModel>

@{
    ViewData["Title"] = "DetailsCP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<tbody>
    @foreach (var item in ViewData["joinTables"] as IEnumerable<scorpioweb.Models.PersonaCausaPenalViewModel>)
    {
        <tr>
            <td colspan="3">@item.causaPenalVM.CausaPenal</td>
        </tr>
        break;
    }

    <div>
        <hr />
        <h4>Causas Penales</h4>
    </div>

    @foreach (var item in ViewData["joinTables"] as IEnumerable<scorpioweb.Models.PersonaCausaPenalViewModel>)
    {
        <tr>
            <td colspan="3">@item.personaVM.Paterno @item.personaVM.Materno @item.personaVM.Nombre</td>
        </tr>
        <br />
    }
</tbody>
<hr />

<div>
    <a asp-action="AsignacionCP">Regresar al listado completo</a>
</div>
