@model scorpioweb.Models.Delito

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditDelito</h2>

<h4>Delito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDelito">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdDelito" />
            <div class="form-group">
                <label asp-for="IdDelito" class="control-label"></label>
                <input asp-for="IdDelito" class="form-control" />
                <span asp-validation-for="IdDelito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modalidad" class="control-label"></label>
                <input asp-for="Modalidad" class="form-control" />
                <span asp-validation-for="Modalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EspecificarDelito" class="control-label"></label>
                <input asp-for="EspecificarDelito" class="form-control" />
                <span asp-validation-for="EspecificarDelito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CausaPenalIdCausaPenal" class="control-label"></label>
                <input asp-for="CausaPenalIdCausaPenal" class="form-control" />
                <span asp-validation-for="CausaPenalIdCausaPenal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
