@model scorpioweb.Models.Causapenal

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Causapenal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCausaPenal" name="idReal" />
            <div class="form-group">
                <label asp-for="Cnpp" class="control-label"></label>
                <input asp-for="Cnpp" name="cnpp" class="form-control" />
                <span asp-validation-for="Cnpp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Juez" class="control-label"></label>
                <input asp-for="Juez" name="juez"  class="form-control" />
                <span asp-validation-for="Juez" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cambio" class="control-label"></label>
                <input asp-for="Cambio" name="cambio" class="form-control" />
                <span asp-validation-for="Cambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CausaPenal" class="control-label"></label>
                <input asp-for="CausaPenal" name="cp" class="form-control" />
                <span asp-validation-for="CausaPenal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

