@{
    ViewData["Title"] = "Historial Prestamo";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery-1.11.1.min.js"></script>

<script>
    function formatDate(dateString) {
        if (dateString == null) {
            return "";
        }
        var d = new Date(dateString);
        const month = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        var date = d.getDate() + '-' + month[d.getMonth()] + '-' + d.getFullYear();
        return date;
    };

    $(document).ready(function () {
        $.ajax({
            type: "POST", 
            dataType: "json",
            url: "/Archivo/HistorialPrestamo",
            traditional: true,
            success: function (response) {
                $('#tblPrestamo').html('');
                var row = '';
                if (response.busqueda.length == 0) {
                    alert("No se encontro ningún registro que coincida")
                    return;
                }

                for (let i = 0; i < response.busqueda.length; i++) {
                    row = row
                        + "<tr>"
                        + "<td>" + response.busqueda[i].idArchivo + "</td>"
                        + "<td>" + response.busqueda[i].nombre + "</td>"
                        + "<td>" + formatDate(response.busqueda[i].fechaprestamo) + "</td>"
                        + "<td>" + formatDate(response.busqueda[i].fechaentrega) + "</td>"
                        + "<td>" + response.busqueda[i].entrega + "</td>"
                        + "<td>" + response.busqueda[i].usuario + "</td>"
                        + "<td>" + response.busqueda[i].ubicacion + "</td>"
                        + "<td>" + response.busqueda[i].tipoPrestamo + "</td>"
                    row = row + "<td>";
                    //switch (response.busqueda[i].tabla) {

                    //    case 'MC Y SCP':
                    //        row = row
                    //            + "<div class=\"col-md-3\"><a  href=/Personas/Procesos/" + response.busqueda[i].id + "  style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                    //        break;
                    //    case 'ARCHIVO':
                    //        row = row
                    //            + "<div class=\"col-md-3\"><a  href=/Archivo style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                    //        break;
                    //    case 'SERVICIOS PREVIOS AL JUICIO':
                    //        row = row
                    //            + "<div class=\"col-md-3\"><a  href=/ServiciosPreviosJuicio style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                    //        break;
                    //    case 'PRISION PREVENTIVA':
                    //        row = row
                    //            + "<div class=\"col-md-3\"><a  href=/Prisionespreventivas style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                    //        break;
                    //    case 'OFICIALIA':
                    //        row = row
                    //            + "PENDIENTE";
                    //        break;
                    //}
                    row = row + "</td>";
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblPrestamo').append(row);
                }
            },
            error: function (response) {
                //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                //location.reload();
            }
        });
    });

    //$.ajax({
            //    type: "POST",
            //    dataType: "json",
            //    url: "/Archivo/HistorialPrestamo",
            //    traditional: true,
            //    success: function (response) {
            //        $('#tblPrestamo').html('');
            //        var row = '';
            //        //if (response.busqueda.length == 0) {
            //        //    alert("No se encontro ningún registro que coincida")
            //        //    return;
            //        //}
            //        alert(response.busqueda.length);

            //        for (let i = 0; i < response.busqueda.length; i++) {
            //            row = row
            //                + "<tr>"
            //                + "<td>" + response.busqueda[i].idArchivo + "</td>"
            //                + "<td>" + response.busqueda[i].paterno + " " + response.busqueda[i].materno + " " + response.busqueda[i].nombre + "</td>"
            //                //+ "<td>" + response.busqueda[i]. + "</td>"
            //            //row = row + "<td>";
            //            //switch (response.busqueda[i].tabla) {

            //            //    case 'MC Y SCP':
            //            //        row = row
            //            //            + "<div class=\"col-md-3\"><a  href=/Personas/Procesos/" + response.busqueda[i].id + "  style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
            //            //        break;
            //            //    case 'ARCHIVO':
            //            //        row = row
            //            //            + "<div class=\"col-md-3\"><a  href=/Archivo style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
            //            //        break;
            //            //    case 'SERVICIOS PREVIOS AL JUICIO':
            //            //        row = row
            //            //            + "<div class=\"col-md-3\"><a  href=/ServiciosPreviosJuicio style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
            //            //        break;
            //            //    case 'PRISION PREVENTIVA':
            //            //        row = row
            //            //            + "<div class=\"col-md-3\"><a  href=/Prisionespreventivas style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
            //            //        break;
            //            //    case 'OFICIALIA':
            //            //        row = row
            //            //            + "PENDIENTE";
            //            //        break;
            //            //}
            //            //row = row + "</td>";
            //            row = row + "</tr>";
            //        };
            //        if (row != '') {
            //            $('#tblPrestamo').append(row);
            //        }
            //    },
            //    error: function (response) {
            //        //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
            //        //location.reload();
            //    }
            //});
</script>

<div class="text-center" style="padding-top:1%">
    <h4>Hstorial Prestamo</h4>
</div>
<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                <a>IdArchivo</a>
            </th>
            <th>
                <a>Nombre</a>
            </th>
            <th>
                <a>Frecha Prestamo</a>
            </th>
            <th>
                <a>Fecha Devolucion</a>
            </th>
            <th>
                <a>Entrega</a>
            </th>
            <th>
                <a>Usuario</a>
            </th>
            <th>
                <a>Ubicacion </a>
            </th>
            <th>
                <a>Tipo de Prestamo</a>
            </th>
        </tr>
    </thead>
    <tbody id="tblPrestamo">
    </tbody>
</table>