@{
    ViewData["Title"] = "Archivo General";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<style>
    .buttons a {
        text-decoration: none;
        font-size: 28px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #f1f1f1;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;
    }

        .buttons a:hover {
            transform: scale(1.2);
        }

    #agenda {
        background: #314652;
        margin-left: 20px;
    }

    #calendario {
        background: #00B812;
        margin-left: 20px;
    }

    #mensajeSistema {
        background: #0078A7;
        margin-left: 20px;
    }

    #libronegro {
        background: #fff;
        margin-left: 20px;
    }

    #seccionBotones {
        padding-top: 1em;
    }

</style>

<script src="~/js/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    function openFullScreenWindow() {
        const screenWidth = window.screen.availWidth;
        const screenHeight = window.screen.availHeight;

        const newWindow = window.open("/Personas/Contacto", "_blank", `fullscreen=yes,toolbar=yes,scrollbars=yes,resizable=yes,width=${screenWidth},height=${screenHeight}`);
    }
</script>

<div class="card-group" style="padding-top:2%">
    <div class="col-md-12 col-md-12">
        <h2>Archivo General  </h2>
    </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Archivo" asp-action="Index">
                    <img class="card-img-top" src="~/images/folderrecord.png" alt="Card image cap" style="padding-bottom:5%;">
                    Control Archivo
                </a>
            </h4>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Archivo" asp-action="ArchivoPrestamoDigital">
                    <img class="card-img-bottom" src="~/images/pdf-file.png" alt="Card image cap" style="padding-bottom:5%;">
                    Control de préstamo digital
                    @if (ViewBag.WarningsUser > 0)
                    {
                        <span class="badge" style="background-color:blue">@ViewBag.WarningsUser</span>
                    }
                </a>
            </h4>
        </div>
    </div>


    @if (User.IsInRole("ArchivoAsistente"))
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="Envioarchivo">
                        <img class="card-img-bottom" src="~/images/sendarchivo.png" alt="Card image cap" style="padding-bottom:5%;">
                        Envio a archivo
                    </a>
                </h4>
            </div>
        </div>
    }
    @if (User.IsInRole("Archivo") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="ArchivoControl">
                        <img class="card-img-bottom" src="~/images/documentation.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de préstamo
                    </a>
                </h4>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="Envioarchivo">
                        <img class="card-img-bottom" src="~/images/sendarchivo.png" alt="Card image cap" style="padding-bottom:5%;">
                        Envio a archivo
                    </a>
                </h4>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="ArchivoHistorial">
                        <img class="card-img-bottom" src="~/images/history-folder.png" alt="Card image cap" style="padding-bottom:5%;">
                        Historial de préstamo 
                    </a>
                </h4>
            </div>
        </div> 
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="SolicitudesPrestamo">
                        <img class="card-img-bottom" src="~/images/warning.png" alt="Card image cap">
                        Solicitudes Prestamo Digital  
                        @if (ViewBag.Warnings > 0)
                        {
                            <span class="badge" style="background-color:red">@ViewBag.Warnings</span>
                        }
                    </a>
                </h4>
            </div>
        </div>
    }
    else
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="ArchivoControl">
                        <img class="card-img-bottom" src="~/images/documentation.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de préstamo
                    </a>
                </h4>
            </div>
        </div>
        
    }      
</div>
<div class="bg-light clearfix" id="seccionBotones">
    <section class="buttons" style="padding-right: 1em;">
        <a onclick="openFullScreenWindow()" class="fa fa-address-book float-right" id="agenda" title="Contactos"></a>
    </section>
</div>


