@{
    ViewData["Title"] = "Archivo General";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-1.11.1.min.js"></script>


<div class="card-group" style="padding-top:2%">
    <div class="col-md-12 col-md-12">
        <h2>Archivo General  </h2>
    </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Archivo" asp-action="Index">
                    <img class="card-img-top" src="~/images/folderrecord.png" alt="Card image cap" style="padding-bottom:5%;">
                    Control Archivo
                </a>
            </h4>
        </div>
    </div>
    <div class="col-sm-3 col-md-3 card text-center">
        <div class="card-body">
            <h4 class="card-title">
                <a asp-controller="Archivo" asp-action="ArchivoPrestamoDigital">
                    <img class="card-img-bottom" src="~/images/pdf-file.png" alt="Card image cap" style="padding-bottom:5%;">
                    Control de préstamo digital
                </a>
            </h4>
        </div>
    </div>
    @if (User.IsInRole("Archivo") || User.IsInRole("Masteradmin"))
    {
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="ArchivoControl">
                        <img class="card-img-bottom" src="~/images/documentation.png" alt="Card image cap" style="padding-bottom:5%;">
                        Control de préstamo
                    </a>
                </h4>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="ArchivoHistorial">
                        <img class="card-img-bottom" src="~/images/history-folder.png" alt="Card image cap" style="padding-bottom:5%;">
                        Historial de préstamo 
                    </a>
                </h4>
            </div>
        </div> 
        <div class="col-sm-3 col-md-3 card text-center">
            <div class="card-body">
                <h4 class="card-title">
                    <a asp-controller="Archivo" asp-action="SolicitudesPrestamo">
                        <img class="card-img-bottom" src="~/images/warning.png" alt="Card image cap">
                        Solicitudes Prestamo Digital  <span class="badge" style="background-color:red">@ViewBag.Warnings</span>
                    </a>
                </h4>
            </div>
        </div>
    }
</div>
