@model scorpioweb.Models.Archivo

@{
    Layout = null;
}

<script>

    var listaSimilitud = new Array;

    var var_tablanueva = "";
    var var_tablaSelect = "";
    var var_idnuevo = "";
    var var_idSelect = "";
    var var_curs = "";
    var CURSUsada = "";
    var datosJson = "";

    function Create() {
        SendExpedienteUnico();
        var id = document.getElementById("idarchivo").value;
        var nombre = document.getElementById("nombreee").value;
        var ap = document.getElementById("paternoee").value;
        var am = document.getElementById("maternoee").value;
        var yo = document.getElementById("yo").value;
        var condicion = document.getElementById("condicion").value;
        var CURS = document.getElementById("CURS").value;
        var tabla = document.getElementById("tabla").value;
        var idselecionado = document.getElementById("idselecionado").value;
        var datosArray = document.getElementById("datosArray").value;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Archivo/Createadd",
            traditional: true,
            data: {
                id: id,
                nombre: nombre,
                ap: ap,
                am: am,
                yo: yo,
                condicion: condicion,
                CURS: CURS,
                tabla: tabla,
                idselecionado: idselecionado,
                datosArray: datosArray
            },
            success: function (response) {
                 if (response.create == false) {
                     alert("El id ya esta registrado")
                 }else{
                     alert("Datos guardados con Exito!")
                     location.reload();
                 }
            },
            error: function (response) {
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                location.reload();
            }
        });
    };

    function myFunction(materno) {
        var nombre = document.getElementById("nombreee").value;
        var paterno = document.getElementById("paternoee").value;
        var materno = materno;

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Api/testSimilitud",
            traditional: true,
            data: {
                nombre, paterno, materno,
            },
            success: function (response) {
                $('#tblSimilitud').html('');
                var row = '';
                if (response.lista.length == 0) {
                    //alert("No se encontro ningún registro que coincida")
                    return;
                }
                for (let i = 0; i < response.lista.length; i++) {
                    if (response.lista[i].clave != null) {
                        row = row + "<tr style='background-color: #F7F2E7'>"
                    } else {
                        row = row + "<tr>"
                    }
                    row = row
                        + "<tr>"
                        + "<td><input type='checkbox' onclick='unirCURS(\"" + response.lista[i].tabla + "\", " + response.lista[i].id + ")'></td>"
                        + "<td>" + response.lista[i].id + "</td>"
                        + "<td>" + response.lista[i].nombre + "</td>"
                        + "<td>" + response.lista[i].tabla + "</td>"
                        + "<td>" + response.lista[i].dato + "</td>"
                        if (response.lista[i].foto != "NA") {
                            row = row + "<td><img src='/" + response.lista[i].foto + "' class='img-thumbnail' width='200' height='200'></td>"
                        } else {
                            row = row + "<td width='200' height='200'></td>"
                        }
                    row = row + "<td>";
                    if (response.lista[i].tabla == "Archivo") {
                        row = row
                            + "<div class=\"col-md-3\"><a style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' onclick='buscarDatos(\"" + response.lista[i].nombre + "\")' class='btn btn-success' > <i class='fa fa-eye'></i> Ver</a ></div>";
                    }
                    else {
                        row = row
                            + "<div class=\"col-md-3\"><a style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' onclick='usarDatos(\"" + response.lista[i].id + "\", \"" + response.lista[i].tabla + "\")' class='btn btn-primary' > <i class='fa fa-exchange'></i> Usar</a ></div>";
                    }
                    row = row + "</td>";
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblSimilitud').append(row);
                }
                $("#similitudModal").modal();
            },
            error: function (response) {
                alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                console.log(response);
            }
        });
    };


    function unirCURS(tabla, id) {
        var encontro = false;
        var index = -1;
        // Busca si ya existe un objeto con el mismo id y tabla en la lista
        for (var i = 0; i < listaSimilitud.length; i++) {
            if (listaSimilitud[i].id === id && listaSimilitud[i].tabla === tabla) {
                encontro = true;
                index = i;
                break;
            }
        }
        // Si no se encuentra, se agrega el nuevo objeto a la lista
        if (!encontro) {
            listaSimilitud.push({ id, tabla });
        } else { // Si se encuentra, se elimina del array
            listaSimilitud.splice(index, 1);
        }
        // Convertir la lista a una cadena JSON
        var datosJson = JSON.stringify(listaSimilitud);

        // Asignar la cadena JSON al campo oculto en el formulario
        document.getElementById("datosArray").value = datosJson;
    }

    function buscarDatos(nombre) {
        //PASO EL VALOR DESDE LA TABLA DE EL MODAL "testsimilitud",A LA FUNCIUON "pasarvalor",
        //ESTE USA  window.parent.miFuncionEnPaginaPrincipal(nombre) PARA MANDARLO A LA PAGUINA PRINCIPAL;
        //alert()
        window.parent.miFuncionEnPaginaPrincipal(nombre);
    };


    function usarDatos(id, tabla) {
        document.getElementById("tabla").value = tabla;
        document.getElementById("idselecionado").value = id;
        var_tablaSelect = tabla;
        var_idSelect = id;
        $.ajax({
            url: "/Api/Savcardatos",
            type: "POST",
            dataType: "json",
            cache: false,
            traditional: true,
            data: {
                id, tabla,
            },
            success: function (response) {
                CURSUsada = response.lista[0].p.claveUnicaScorpio;
                document.getElementById("CURS").value = response.lista[0].p.claveUnicaScorpio;
                //document.getElementById("paterno").value = response.lista[0].paterno;
                //document.getElementById("materno").value = response.lista[0].materno;
                //document.getElementById("edad").value = response.lista[0].edad;


            }
        });
        $("#similitudModal").modal("hide");
    };

    function btnclose() {
        if (listaSimilitud.length > 0) {
            alert("Selecciono registros, presione USAR a uno de ellos. Use los datos correctos")
            return;
        } else {
            $('#similitudModal').modal('toggle');
        }
    }

    //$(document).ready(function () {
    //    $('#btnSave').on("click", function (e) {
    //        e.preventDefault();
    //        SendExpedienteUnico();
    //        btnSubmit.click();
    //    });
    //});

    function SendExpedienteUnico() {
        var_tablanueva = "Archivo";
        var_idnuevo = document.getElementById("idarchivo").value;
        $.ajax({
            url: "/Api/expedienteUnico",
            type: "POST",
            dataType: "json",
            cache: false,
            traditional: true,
            data: {
                var_tablaSelect, var_idSelect, var_curs, CURSUsada, var_tablanueva, datosJson, var_idnuevo
            },
            success: function (response) {
            }
        });
    }

</script>

<div class="row">
    <form>
        <div class="col-md-12">
            <div class="form-group col-md-12">
                <label asp-for="IdArchivo" class="control-label"></label>
                <input required asp-for="IdArchivo" type="number" class="form-control" pattern="[0-9]+" name="idarchivo" id="idarchivo" />
                <span asp-validation-for="IdArchivo" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label lass="control-label">Nombre</label>
                <input class="form-control" name="nombre" id="nombreee" maxlength="100" />
            </div>
            <div class="form-group col-md-12">
                <label lass="control-label">Apellido Paterno</label>
                <input class="form-control" name="paterno" id="paternoee" maxlength="45" />
            </div>
            <div class="form-group col-md-12">
                <label lass="control-label">Apellido Materno</label>
                <input class="form-control" name="materno" id="maternoee" maxlength="45" onblur="myFunction(value)" />
            </div>
            
            <div class="form-group col-md-12">
                <label lass="control-label">Y/O</label>
                <input class="form-control" name="yo" id="yo" maxlength="600" />
            </div>
            <div class="form-group col-md-12">
                <label lass="control-label">Condición Especial</label>
                <input class="form-control" name="condicion" id="condicion" maxlength="45"/>
                <small id="emailHelp" class="form-text text-muted">Solo agregar 45 caracteres</small>
            </div>
            <input readonly type="hidden" id="CURS" name="CURS" type="text" maxlength="18" class="form-control" />
            <input readonly type="hidden" id="tabla" name="tabla" type="text" maxlength="18" class="form-control" />
            <input readonly type="hidden" id="idselecionado" name="idselecionado" type="text" maxlength="18" class="form-control" />
            <input hidden name="datosArray" id="datosArray" type="text" />
            <a type="button" class="btn btn-primary" id="Guardar" title="Guardar" onclick="Create()">
                 <i class="fa fa-save"></i> Guardar 
            </a>
        </div>
    </form>
</div>

<div id="similitudModal" class="modal fade" tabindex="1" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @*            <div class="text-right"  style="background-color:#0078a7">
            <button type="button" hrf data-dismiss="modal">x</button>
            </div>*@
            <div class="modal-header float-center" style="background-color:#0078a7">
                <button type="button" class="close" onclick="btnclose()" aria-label="Close">
                    <i class="fa fa-close"></i>
                </button>
                <h3 id="modal_body" style="text-align:center; color:#000">Similitud </h3>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table" name="" id="">
                        <thead>
                            <tr>
                                <th>Unir</th>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Tabla</th>
                                <th>Dato Extra</th>
                                <th>Fotos</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblSimilitud">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fa fa-close" onclick="btnclose()">Cerrar</button>
            </div>
        </div>
    </div>
</div>

