@model scorpioweb.Models.Archivo

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdArchivo" />
            <input type="hidden" readonly asp-for="QuienSolicita" />
            <input type="hidden" readonly asp-for="Solucitud" />
            <input type="hidden" readonly asp-for="ClaveUnicaScorpio" />
            <div class="form-group">
                <label class="control-label">Apellido Paterno</label>
                <input asp-for="Paterno" class="form-control" maxlength="45"/>
                <span asp-validation-for="Paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido Materno</label>
                <input asp-for="Materno" class="form-control" maxlength="45"/>
                <span asp-validation-for="Materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" maxlength="100" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yo" class="control-label">Y/O</label>
                <input asp-for="Yo" class="form-control" maxlength="600" />
                <span asp-validation-for="Yo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondicionEspecial" class="control-label">Condición Especial</label>
                <input asp-for="CondicionEspecial" class="form-control" maxlength="45" />
                <span asp-validation-for="CondicionEspecial" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Urldocumento" class="control-label"></label>
                <input asp-for="Urldocumento" class="form-control" />
                <span asp-validation-for="Urldocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpedienteUnicoIdExpedienteUnico" class="control-label"></label>
                <input asp-for="ExpedienteUnicoIdExpedienteUnico" class="form-control" />
                <span asp-validation-for="ExpedienteUnicoIdExpedienteUnico" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
