@model IEnumerable<scorpioweb.Models.Personacl>
@*@{
        Layout = "/Views/Shared/_Layout.cshtml";
    }*@

@* Necesario para los modales en el servidor *@
<script src="~/js/jquery-1.11.1.min.js"></script>

<link href="~/css/bootstrap4-toggle.css" rel="stylesheet" />
<script src="~/Documentos/script.js"></script>
<script src="~/js/bootstrap4-toggle.js"></script>


@{
    ViewBag.Title = "Supervisados Libertad Condicionada";
}

<script>
    var page = 1;
    var currentFilter = "";
    $( document ).ready(function() {
       get();
    });
    function cambiarPagina(incremento) {
        page += incremento;
        get();
    }
    function buscarNombre() {
        page = 1; 
        get();
    }
    function todos() {
        document.getElementById("Search").value = "";
        currentFilter = ""; 
        page = 1;
        get();
    }
    function filtroSupervisor(){
        currentFilter = "@ViewBag.RolesUsuarios";
        page = 1;
        get();
    }
    function get() {
        document.getElementById("btnNext").disabled = false;
        page = page;
        var searchValue = document.getElementById("Search").value;
      
        //if (page == 1) {
        //    alert("page en  get")
        //    alert(page)
        //    document.getElementById("btnPrev").disabled = true;
        //}
        if(page == 1){
            document.getElementById("btnPrev").disabled = true;
            document.getElementById("btnNext").disabled = false;
        }
        if(page > 1){
            document.getElementById("btnPrev").disabled = false;
        }
        $.ajax({
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "/Personacls/Get?pageNumber=" + page + " &currentFilter=" + currentFilter + "&Search=" + searchValue,
            //Get?pageNumber=" + page + " & currentFilter=" + searchValue + "& Search=" + searchValue,
            data: {
                pagelimit: 10 
            },
            traditional: true,
            success: function (result) {
                if (result.page.length < 10) {
                    document.getElementById("btnNext").disabled = true;
                }
                $('#tblPersona').html('');
                var row = '';
                for (let i = 0; i < result.page.length; i++) {
                    var dateString = result.page[i].ultimaActualización;
                    var d = new Date(dateString);
                    var hours = d.getHours();
                    var minutes = d.getMinutes();
                    var ampm = hours >= 12 ? 'PM' : 'AM';
                    hours = hours % 12;
                    hours = hours ? hours : 12; // the hour '0' should be '12'
                    minutes = minutes < 10 ? '0' + minutes : minutes;
                    var date = (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear() + ' ' + hours + ':' + minutes + ' ' + ampm;
                    if (dateString == null) {
                        date = "";
                    }
                    if (result.super == true || result.admin == true) {
                        row = row
                            + "<tr valign='middle'>"
                            + "<td>" + result.page[i].idPersonaCl + "</td>"
                            + "<td>" + result.page[i].nombreCompleto + "</td>"
                            + "<td>" + result.page[i].supervisor + "</td>"
                            + "<th>" + date + "</th>";
                        row = row + "<div class=\"col-xs-12\">";
                        row = row + "<td>";
                        if (result.nomsuper == result.page[i].supervisor || result.admin == true) {
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Personacls/Details/" + result.page[i].idPersonaCl + "  style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Detalles</a ></div>";
                            row = row
                                + "<div class=\"col-md-3\"><a href=/Personacls/Procesos/" + result.page[i].idPersonaCl + "  style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-primary'><i class='fa fa-cogs'></i> Procesos</a></div>";
                            row = row
                                + "<div class=\"col-md-6\"><a href=/Personacls/PresentacionPeriodicaPersona/" + result.page[i].idPersonaCl + " style='margin-top:10px; margin-left:5px; margin-rigth:5px;' class='btn btn-default'><i class='fa fa-calendar'></i> Presentaciónes</a></div>";
                            row = row
                                + "<div class=\"col-md-1\"><button style='margin-top: 10px;' class='btn btn-danger' onclick='borrarPersona(" + result.page[i].idPersonaCl + ")'><i class='fa fa-trash'></i></button></div>"
                            row = row
                                + "<div class=\"col-md-3\"><a href=/Personacls/MenuEdicion/" + result.page[i].idPersonaCl + " style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-success'><i class='fa fa-pencil'></i> Editar</a></div>";
                            if (result.page[i].candado == 0) {
                                row = row
                                    + "<div class=\"col-md-1\"><button style='margin-top: 10px;' class='btn btn-primary' onclick='candado(" + result.page[i].idPersonaCl + ",true)'><i id='des' name='des' class='fa fa-unlock'></i></button></div>"
                                    + "</tr>";
                                row = row + "</td>";
                                row = row + "</div>";
                            } else {
                                row = row
                                    + "<div class=\"col-md-1\"><button title='" + result.page[i].motivoCandado + "' style='margin-top: 10px;' class='btn btn-danger' onclick='candado(" + result.page[i].idPersonaCl + ",false)'><i id='des' name='des' class='fa fa-lock'></i></button></div>"
                                    + "</tr>";
                            }
                        }else{
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Personacls/Details/" + result.page[i].idPersonaCl + "  style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Detalles</a ></div>";
                            row = row
                                + "<div class=\"col-md-3\"><a href=/Personacls/Procesos/" + result.page[i].idPersonaCl + "  style='margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-primary'><i class='fa fa-cogs'></i> Procesos</a></div>";
                            row = row
                                + "<div class=\"col-md-6\"><a href=/Personacls/PresentacionPeriodicaPersona/" + result.page[i].idPersonaCl + " style='margin-top:10px; margin-left:5px; margin-rigth:5px;' class='btn btn-default'><i class='fa fa-calendar'></i> Presentaciónes</a></div>";
                        }
                        row = row + "</td>";
                        row = row + "</div>";
                    } 
                }
                if (row != '') {
                    $('#tblPersona').append(row);
                }
                document.getElementById("page").innerHTML = "Página " + page + " de " + result.totalPages;
            },
            error: function (msg) {
                alert(msg);
            }
        });
    }
    function candado(id, candado) {
        var personaidpersona = id;
        let text;
        if (candado == true) {
            let razon = prompt("Razón de Bloqueo", "");
            if (razon == null || razon == "") {
                text = "NA";
            } else {
                text = razon;
            }
        } else {
            text = "NA";
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Personacls/LoockCandado",
            traditional: true,
            data: {
                datoCandado: [candado, personaidpersona, text],
            },
            success: function (response) {
                if (response.success) {
                    //if (page > 1) {
                    //    document.getElementById("btnPrev").disabled = false;
                    //    document.getElementById("btnPrevs").disabled = false;
                    //    document.getElementById("btnNext").disabled = false;
                    //    document.getElementById("btnNexts").disabled = false;
                    //} else {
                    //    document.getElementById("btnPrev").disabled = true;
                    //    document.getElementById("btnPrevs").disabled = true;
                    //}
                    //alert(response.success)
                    get();
                } else {
                    alert(response.responseText);
                }
            },
            error: function (response) {
                location.reload();
            }
        });
    };
</script>




<h2>Supervisados Libertad Condicionada</h2>
@*ES LO DE LAS ALERTA DE PRESTAMOS DE ARCHIVO 
    @if (ViewBag.WarningsUser > 0)
{
    <a href="/Archivo/ArchivoPrestamoDigital" class="link-archivo">
        <h3 style="text-align:right; color:blue">Tu solicitud fue atendida: @ViewBag.WarningsUser</h3>
    </a>
}*@
<p>
    <a asp-action="Create" asp-controller="Personas">
        Nueva entrevista encuadre
    </a>
    @*@if (ViewBag.Admin == true)
    {
        <a asp-action="Reasignacion">
            &ensp;Reasignación
        </a>
    }*@
</p>
<div class="form-group col-md-12" id="divbuscar">
    Búsqueda:
    <input type="text" name="Search" id="Search" />
    <button id="myBtn" class="btn btn-default" onclick="buscarNombre()">
        <i class="fa fa-search"></i>
        Buscar
    </button>
    <a onclick="todos()" class="btn btn-link">
        Regresar al listado completo
    </a> |
    <a onclick="filtroSupervisor(true)" class="btn btn-link">
        Ver solo mis Supervisados
    </a>

</div>
@*<div class="form-group col-md-12" id="divSbuscar" style="display:none">
    Búsqueda:
    <input type="text" name="SearchS" id="SearchS" />
    <button id="myBtn2" class="btn btn-default" onclick="getSPersona()">
        <i class="fa fa-search"></i>
        Buscar
    </button>
    <a onclick="getPersona()" class="btn btn-link">
        Regresar al listado completo
    </a> |
    @if (ViewBag.Serviciosprevios == false)
    {
        <a onclick="getS()" class="btn btn-link">
            Ver solo mis Supervisados
        </a>
    }
</div>*@
<br />
<div class="row">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                @*<th><a>ID</a></th>*@
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a>
                </th>
                <th><a>Nombre</a></th>
                <th>Supervisor</th>
                <th><a>Ultima Actualización</a></th>
            </tr>
        </thead>
        <tbody id="tblPersona">
        </tbody>
    </table>
</div>


<script>
    var input = document.getElementById("Search");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
    });
    var input2 = document.getElementById("SearchS");
    input2.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn2").click();

        }
    });
</script>


<p id="page"></p>
<div id="AllBunton" name="AllBunton">
    <button onclick="cambiarPagina(-1)" id="btnPrev" name="btnPrev" class="btn btn-default">Anterior</button>
    <button onclick="cambiarPagina(+1)" id="btnNext" name="btnNext" class="btn btn-default">Siguiente</button>
</div>
