
@{
    ViewData["Title"] = "RegistroConfirmation";
}

    <h2 style="text-align:center">
        <div class="alert alert-danger" role="alert">
            No se han registrado <a href="#" class="alert-link">Presentaciones Periódicas</a>.
        </div>
    </h2>

<a asp-action="Index" class="btn btn-link">
    Regresar al menu
</a>

