@{
    ViewData["Title"] = "SinSupervision";
}
<div class="alert alert-info">
    <h1><strong>No</strong> cuenta con supervisiones activas, si quiere asignar una causa penal haga <strong><a href="/Causaspenalescl/index"> "click" aqui</a></strong>  </h1>
</div>
<a asp-action="Index" class="btn btn-link">
    Regresar al listado completo
</a>
