

<!DOCTYPE html>
<html>
<head>
    @*Fullcallendar*@
    <link href='~/fullcalendar/lib/main.css' rel='stylesheet' />
    <script src='~/fullcalendar/lib/main.js'></script>
    <script src='~/fullcalendar/lib/locales/es-us.js'></script>
    <script src='~/lib/sweetalert/sweetalert2.js'></script>
    <link rel="stylesheet" href="~/css/sweetalert2.css">
    <script src="~/lib/Microsoft/signalr.min.js"></script>
    <script src="https://unpkg.com/rxjs@7/dist/bundles/rxjs.umd.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            var pages = document.getElementById("navbar-items");
            var numberOfChildren = pages.getElementsByTagName('li').length;
            if (numberOfChildren > 6) {

                ReacomodateNavBar();
            }

        });
        function ReacomodateNavBar() {
            var LIdropDown = document.getElementById('dropdownLI').style.display = '';
            var sourceUl = document.getElementById('navbar-items');
            var destinationUl = document.getElementById('dropdown-menu');
            var lis = sourceUl.getElementsByTagName('li');
            var lisArray = Array.from(lis);
            lisArray.slice(5).forEach(function (li) {
                destinationUl.appendChild(li);
            });
            

        }
        var connection = new signalR.HubConnectionBuilder().withUrl("/message").build();

        connection.start().then(function () {
            console.log("Conexion exitosa SIGNAL R Message");
        }).catch(function (err) {
            console.log(err.message);
        });

        //connection.on("Recive", function (name, area) {
        //    //let divnames = document.createElement("div");
        //    //divnames.textContent = name + " " + area;
        //    //document.getElementById("divname").appendChild(divnames);
        //    //para alerta en signalR
        //    alert(name + " " + area)
        //});
        //Alerta de barra de tiempo en la esquina superior derecha 
        connection.on("sendMessage", (message) => {
            //console.log(message)
            var audio = new Audio('Audio/Notifiacion1.mp3');
            audio.play();
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 10000,
                customClass: {
                    popup: 'swal2-popup'
                },
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: message
            });
        });
        

        connection.on("alertCierreCaso", (message) => {
            var audio = new Audio('Audio/Notifiacion1.mp3');
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 60000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            Toast.fire({
                icon: "success",
                title: message
            });
            audio.play();
        });
        //Alera con datos de la persona paera vista en vivulacion
        connection.on("fichadedatos", (data) => {
          console.log("Datos recibidos:", data); // <-- para verificar
          var audio = new Audio('Audio/Notifiacion1.mp3');
          audio.play();

          Swal.fire({
            title: `Proceso de canalización`,
            html: `
              <p><strong>Area:</strong> ${data.area ?? ''}</p>
              <p><strong>Nombre:</strong> ${data.nombre} ${data.apellidoPaterno} ${data.apellidoMaterno}</p>
              <p><strong>Teléfono:</strong> ${data.telefono ?? ''}</p>
            `,
            imageUrl: data.foto,
            imageHeight: 300,
            imageAlt: "Foto de la persona"
          });
        });

        

    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/png" href="~/images/scorpio_mini.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/bootstraplocal.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    @*PDF Visualizador*@
    <link href="https://cdn.syncfusion.com/ej2/17.2.28/material.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.syncfusion.com/ej2/17.2.28/dist/ej2.min.js" type="text/javascript"></script>

    @*Main jQuery*@
    <script src="~/js/jquery-1.11.1.min.js"></script>
    @*Contact form validation*@
    <script src="~/js/jquerylocal332.js"></script>
    @* Necesario para los modales en el servidor *@
    @*<script src="~/js/jquery-1.11.1.min.js"></script>*@
    <script src="~/js/jquerylocalvalidate.js"></script>
</head>
<style>
    .separar {
        margin-top: 10px;
    }

    .my-toast {
        font-size: 35px;
    }

    .my-toast-content {
        padding: 40px;
    }

    .swal2-popup {
        font-size: 1.6rem;
        max-width: 1000px;
    }

</style>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" , id="header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style="padding: 15px 15px;">SCORPIO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="navbar-items">

                    @if (User.IsInRole("Masteradmin") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") || User.IsInRole("AdminCL") || User.IsInRole("SupervisorLC") || User.IsInRole("Coordinador Ejecucion"))
                    {
                        <li><a asp-area="" asp-controller="Personas" asp-action="Create">Entrevista</a></li>
                    }
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Director") || User.IsInRole("AdminLC") || User.IsInRole("SupervisorLC"))
                    {
                        <li><a asp-area="" asp-controller="Personacls" asp-action="Menucl">Condiciones en Libertad</a></li>
                    }
                    @* USUARIOS INVITADOS SOLO ACCEDEN A INDEX DE CONDICIONES EN LIBERTAD*@
                    @if (User.IsInRole("Asistente") || User.IsInRole("AdminMCSCP") || User.IsInRole("Operativo") || User.IsInRole("Servicios previos") || User.IsInRole("Oficialia")
                    || User.IsInRole("Servicios Legales") || User.IsInRole("Coordinador Ejecucion"))
                    {
                        <li><a asp-area="" asp-controller="Personacls" asp-action="Index">Condiciones en Libertad</a></li>
                    }

                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Director") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") || User.IsInRole("AuxiliarMCSCP"))
                    {
                        <li><a asp-area="" asp-controller="Personas" asp-action="MenuMCSCP">MC y SCP</a></li>
                    }
                    @* USUARIOS INVITADOS SOLO ACCEDEN A INDEX DE MC Y SCP*@
                    @if (User.IsInRole("Asistente") || User.IsInRole("AdminLC") || User.IsInRole("Servicios previos") || User.IsInRole("Operativo") || User.IsInRole("Coordinador Ejecucion") ||
                                        User.IsInRole("Oficialia") || User.IsInRole("Servicios Legales"))
                    {
                        <li><a asp-area="" asp-controller="Personas" asp-action="Index">MC y SCP</a></li>
                    }

                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Director") || User.IsInRole("Servicios previos") || User.IsInRole("Operativo") || User.IsInRole("Servicios Legales"))
                    {
                        <li><a asp-area="" asp-controller="ServiciosPreviosJuicio" asp-action="MenuSPJ">Servicios Previos</a></li>
                    }
                    @* USUARIOS INVITADOS SOLO ACCEDEN A INDEX DE SERVICIOS PREVIOS AL JUICIO*@
                    @if (User.IsInRole("Asistente") || User.IsInRole("AdminMCSCP") || User.IsInRole("AdminLC") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("Coordinador Ejecucion"))
                    {
                        <li><a asp-area="" asp-controller="ServiciosPreviosJuicio" asp-action="Index">Servicios Previos</a></li>
                    }

                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Archivo") || User.IsInRole("AdminMCSCP") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("Operativo") || User.IsInRole("AdminLC") || User.IsInRole("SupervisorLC") || User.IsInRole("Coordinador Ejecucion") || User.IsInRole("Servicios Legales"))
                    {
                        <li><a asp-area="" asp-controller="Prisionespreventivas" asp-action="Index">Prisiones Preventivas</a></li>
                    }
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") ||
                    User.IsInRole("Oficialia") || User.IsInRole("Coordinador") || User.IsInRole("Archivo") || User.IsInRole("ArchivoAsistente") || 
                    User.IsInRole("Coordinador Ejecucion") || User.IsInRole("Ejecucion") || User.IsInRole("Uespa") || User.IsInRole("Servicios previos") || 
                                        User.IsInRole("Operativo") || User.IsInRole("SupervisorLC") || User.IsInRole("Servicios Legales"))
                    {
                        <li><a asp-area="" asp-controller="Archivo" asp-action="ArchivoMenu">Archivo</a></li>
                    }
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Director") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("AdminMCSCP") || User.IsInRole("Oficialia") || User.IsInRole("Coordinador")
                                        || User.IsInRole("OficialiaAsistente") || User.IsInRole("Servicios Legales") || User.IsInRole("Servicios previos"))
                    {
                        if (User.IsInRole("OficialiaAsistente") || User.IsInRole("Servicios Legales") || User.IsInRole("Servicios previos"))
                        {
                            <li><a asp-area="" asp-controller="Oficialia" asp-action="EditRegistros">Oficialia</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Oficialia" asp-action="Index">Oficialia</a></li>
                        }

                    }
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Director") || User.IsInRole("Coordinador Ejecucion") || User.IsInRole("Ejecucion") || User.IsInRole("AuxiliarEjecucion")
                                        || User.IsInRole("Operativo") || User.IsInRole("Director") || User.IsInRole("Oficialia") || User.IsInRole("AdminMCSCP") || User.IsInRole("AdminLC") || User.IsInRole("Servicios Legales"))
                    {
                        if (User.IsInRole("Oficialia") || User.IsInRole("OficialiaAsistente") || User.IsInRole("AdminMCSCP") || User.IsInRole("AdminLC") || User.IsInRole("Servicios Legales"))
                        {
                            <li><a asp-area="" asp-controller="Ejecucion" asp-action="Index">Ejecucion</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Ejecucion" asp-action="MenuEjecucion">Ejecucion</a></li>
                        }

                    }
                    @if (User.IsInRole("Masteradmin"))
                    {
                        <li><a asp-area="" asp-controller="Administration" asp-action="MenuAdmin">Administracion</a></li>
                    }

                    @if (User.IsInRole("Masteradmin") || User.IsInRole("AdminVinculacion") || User.IsInRole("Vinculacion"))
                    {
                        <li><a asp-area="" asp-controller="Reinsercion" asp-action="MenuReinsercion">Vinculación</a></li>
                    }
                    @if (User.IsInRole("Masteradmin") || User.IsInRole("Vinculacion") || User.IsInRole("Psicologia"))
                    {
                        <li><a asp-area="" asp-controller="Reinsercion" asp-action="MenuPsicologia">Psicologia</a></li>
                    }
                    @* User.IsInRole("EnviarCorrespondencia") ||  User.IsInRole("RecibirCorrespondencia") *@
                    @if (User.IsInRole("Masteradmin"))
                    {
                        <li><a asp-area="" asp-controller="ServiciosPreviosJuicio" asp-action="Correspondencia">Correspondencia</a></li>
                    }
                    <li class="nav-item dropdown more-dropdown" id="dropdownLI" style="display:none;">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Más <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="dropdown-menu">
                        </ul>
                    </li>
                </ul>

                @await Html.PartialAsync("_LoginPartial")

            </div>
        </div>
    </nav>


    @if (User.Identity.IsAuthenticated)
    {
        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-header float-center">
                        <h3 id="modal_body">Buscador General</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Dato Extra</th>
                                        <th>Area a la que pertenece</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tblBusqueda">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fa fa-close" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal2" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">x</button>
                    </div>
                    <div class="modal-header float-center">
                        <h3 id="modal_body">Buscador General</h3>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Area a la que pertenece</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="tblBusquedaConcat">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary fa fa-close" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <div class="col-md-2" style="padding-left: 0px;  padding-right: 0px; width: 150px; float:left;">
                <img src="~/images/logoFooter.png" class="img-responsive" style="float:left;">
                @*<p>&copy; 2019 - SCORPIO</p>*@
            </div>

            @if (User.IsInRole("Masteradmin") || User.IsInRole("Oficialia") || User.IsInRole("Operativo") || User.IsInRole("AdminMCSCP") || User.IsInRole("SupervisorMCSCP") || User.IsInRole("Director") || User.IsInRole("Coordinador"))
            {
                <div class="col-1 col-md-1" style="float:right">
                    <label for="victima" title="Buscar Nombre en victimas">Otro</label>
                    <input id="victima" name="victima" type="checkbox" onclick="validate()" title="Buscar Nombre en victimas"></input>
                    <button type="submit" id="buscar" class="form-control" name="buscar" onclick="Buscar()"><i class="fa fa-search"></i></button>
                    <button type="submit" id="buscarConcat" class="form-control" name="buscarConcat" onclick="BuscarConcat()" style="display:none"><i class="fa fa-search"></i></button>
                    @*       <button onclick="mostraralerta()">alertaaaaa</button> *@
                </div>
                <div id="nombre" class="col-3 col-md-3" style="float:right">
                    <input type="text" class="form-control" id="Nombre" name="Nombre" onkeypress="return soloLetras(event)" placeholder="Nombre...">
                </div>
                <div id="materno" class="col-3 col-md-3" style="float:right">
                    <input type="text" class="form-control" id="Materno" name="Materno" onkeypress="return soloLetras(event)" placeholder="Materno...">
                </div>
                <div id="paterno" class="col-3 col-md-3" style="float:right">
                    <input type="text" class="form-control" id="Paterno" name="Paterno" onkeypress="return soloLetras(event)" placeholder="Paterno...">
                </div>
            }
        </footer>
    </div>

    <div id="content1">
    </div>
    <div id="content2">
    </div>


    <script src="~/css/bootstraplocal.css"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="overflow-y: scroll; background-color: rgba(0, 0, 0, 0.5)" data-backdrop="false" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#0078A7;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                    <h5 class="modal-title" style="font-size: 30px; color:#fff;">Añadir Nueva Fracción</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i>Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)

    <a onclick="topFunction()" id="back-top"><i class="fa fa-angle-up fa-3x" id="fangle" name="fangle"></i></a>
    <ej-script-manager></ej-script-manager>
    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
<script>
 
    let esVictima = false;
    function validate() {
        if (document.getElementById('victima').checked) {
            document.getElementById("Paterno").style.display = "none";
            document.getElementById("Materno").style.display = "none";
            document.getElementById("buscarConcat").style.display = "block";
            document.getElementById("buscar").style.display = "none";
            $("#nombre").removeClass("col-3 col-md-3");
            $("#nombre").addClass("col-9 col-md-9");
            esVictima = true;
        } else {
            document.getElementById("Paterno").style.display = "block";
            document.getElementById("Materno").style.display = "block";
            document.getElementById("buscarConcat").style.display = "none";
            document.getElementById("buscar").style.display = "block";
            $("#nombre").addClass("col-3 col-md-3");
            $("#nombre").removeClass("col-9 col-md-9");
            esVictima = false;
        }
    }

    function BuscarConcat() {
        var nombre = document.getElementById("Nombre").value.toUpperCase();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Personas/buscadorGeneralConcat",
            traditional: true,
            data: {
                var_nombre: nombre,
            },
            success: function (response) {
                $('#tblBusquedaConcat').html('');
                var row = '';
                if (response.busqueda.length == 0) {
                    alert("No se encontro ningún registro que coincida")
                    return;
                }

                for (let i = 0; i < response.busqueda.length; i++) {
                    row = row
                        + "<tr>"
                        + "<td>" + response.busqueda[i].id + "</td>"
                        + "<td>" + response.busqueda[i].nombreCompleto + "</td>"
                        + "<td>" + response.busqueda[i].tabla + "</td>"
                    row = row + "<td>";
                    switch (response.busqueda[i].tabla) {
                        case 'VICTIMA':
                            row = row
                                + "PENDIENTE";
                            break;
                    }
                    row = row + "</td>";
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblBusquedaConcat').append(row);
                }
                $("#myModal2").modal();
            },
            error: function (response) {
                //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                //location.reload();
            }
        });
    };

    function Buscar() {
        var paterno = document.getElementById("Paterno").value.toUpperCase();
        var materno = document.getElementById("Materno").value.toUpperCase();
        var nombre = document.getElementById("Nombre").value.toUpperCase();

        if (paterno == "" || (paterno == "" && nombre == "")) {
            alert("Para realizar cualquier búsqueda colocar el apellido paterno");
            return false;
        } else if (materno == "" && nombre == "") {
            alert("Coloque apellido materno y/o nombre para continuar con la búsqueda");
            return false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Personas/buscadorGeneral",
            traditional: true,
            data: {
                var_paterno: paterno,
                var_materno: materno,
                var_nombre: nombre,
                var_esVictima: esVictima,
            },
            success: function (response) {
                $('#tblBusqueda').html('');
                var row = '';
                if (response.busqueda.length == 0) {
                    alert("No se encontro ningún registro que coincida")
                    return;
                }
                for (let i = 0; i < response.busqueda.length; i++) {
                    var nombre = response.busqueda[i].paterno + " " + response.busqueda[i].materno + " " + response.busqueda[i].nombre;
                    row = row
                        + "<tr>"
                        + "<td>" + response.busqueda[i].id + "</td>"
                        + "<td>" + nombre + "</td>"
                        + "<td>" + response.busqueda[i].tabla + "</td>"
                        + "<td>" + response.busqueda[i].datoExtra + "</td>"
                    row = row + "<td>";
                    switch (response.busqueda[i].tabla) {

                        case 'MC Y SCP':
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Personas/Procesos/" + response.busqueda[i].id + "  style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                            break;
                        case 'LIBERTAD CONDICIONADA':
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Personacls/Procesos/" + response.busqueda[i].id + "  style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                            break;
                        case 'ARCHIVO':
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Archivo style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                            break;
                        case 'SERVICIOS PREVIOS AL JUICIO':
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/ServiciosPreviosJuicio style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                            break;
                        case 'PRISION PREVENTIVA':
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Prisionespreventivas style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                            break;
                        case 'EJECUCION':
                            row = row
                                + "<div class=\"col-md-3\"><a  href=/Ejecucion style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";
                            break;
                        case 'OFICIALIA':
                            row = row
                                + "PENDIENTE";
                            break;
                    }
                    row = row + "</td>";
                    row = row + "</tr>";
                };
                if (row != '') {
                    $('#tblBusqueda').append(row);
                }
                $("#myModal").modal();
            },
            error: function (response) {
                //alert("Hubo un error, no se pudieron guardar los datos, contacte con el administrador del sistema");
                //location.reload();
            }
        });
    };

    function pasarvalor(nombre) {
        //PASO EL VALOR DESDE LA TABLA DE EL MODAL "testsimilitud",A LA FUNCIUON "pasarvalor",
        //ESTE USA  window.parent.miFuncionEnPaginaPrincipal(nombre) PARA MANDARLO A LA PAGUINA PRINCIPAL; + "<div class=\"col-md-3\"><a  onclick='pasarvalor(\"" + response.busqueda[i].id + "\")' style = 'margin-top: 10px; margin-left:5px; margin-rigth:5px;' class='btn btn-info' > <i class='fa fa-eye'></i> Ir</a ></div>";

        window.parent.miFuncionEnPaginaPrincipal(nombre);
    };

    function soloLetras(e) {
        var key = e.keyCode || e.which,
            tecla = String.fromCharCode(key).toLowerCase(),
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
            especiales = [8, 37, 39, 46],
            tecla_especial = false;

        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
</script>
